{% load static %}
<!doctype html>
<html class="no-js" lang="en">
	{% include "home/head.html" %}
		<body>

		<!--[if lt IE 8]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

        <div id="preloader"></div>
        {% include "home/header.html" %}
        <!-- header end -->
        <!-- Start Bottom Header -->
        <div class="page-area">
            <div class="breadcumb-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcrumb text-center">
                            <div class="section-headline white-headline text-center">
                                <h3>About us</h3>
                            </div>
                            <ul>
                                <li class="home-bread">Home</li>
                                <li>About us</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Header -->
        <!-- Start Brand Area -->
        <div class="about-area fix area-padding-2">
            <div class="container">
               <div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="section-headline text-center">
                            <h3>Who we are!!!</h3>
                            <p>On Payflat, we offer a fast, easy, and secured choice for online financial transactions and utility payments. Our services include:</p>
						</div>
					</div>
				</div>
                <div class="row">
                    <div class="support-all">
                        <!-- Start services -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="support-services wow ">
                                <a class="support-images" href="#"><i class="flaticon-like-2"></i></a>
                                <div class="support-content">
                                    <h4>Professional Services</h4>
                                    <p>Professional Services: We deliver the highest standards services. As we've studied the payment system and fully implemented services whose performance you can count on. Our services are fast and reliable with a very high level of security implemented</p>
                                </div>
                            </div>
                        </div>
                        <!-- Start services -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="support-services ">
                                <a class="support-images" href="#"><i class="flaticon-transfer-3"></i></a>
                                <div class="support-content">
                                    <h4>Low costing</h4>
                                    <p>Online payments are meant to make transactions easy and comfortable, be rest assured we will never inconvenient you with high cost.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Start services -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="support-services ">
                                <a class="support-images" href="#"><i class="flaticon-user-4"></i></a>
                                <div class="support-content">
                                    <h4>Live Support</h4>
                                    <p>We have 24 hours, 7 days support team available to help you out whenever you have any challenges or need help using our service.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Start services -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="support-services">
                                <a class="support-images" href="#"><i class="flaticon-padlock"></i></a>
                                <div class="support-content">
                                    <h4>Safe & Security</h4>
                                    <p>We use enterprise-grade security, ensuring the safety of your transaction by 256 bits SSL security encryption to ensure that your information is completely protected from fraud. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner Area -->
        <!-- Start Brand Area -->
        <div class="overview-area bg-color area-padding">
            <div class="container">
                <div class="row">
                   <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="overview-text">
                            <h3>Transfer Money Easily and Conveniently</h3>
						    <p>Money transfer should be hassle-free, fast, easy and secure. On our platform, we offer multi-bank, multi-currency and 24x7 payment processing capabilities, you can make both national and international money transfers and manage your account with ease 24/7. You can send money directly to a bank or between mobile wallets. We offer a transparent fee with no hidden charges. </p>
                             <p>All you need to do is select the currency and amount as we apply a real-time exchange rate that guarantees more calculation freedom for you. Companies can also use our platform to transfer funds between each other and with their customers for transactions such as paying invoices and moving funds between different subsidiaries.</p>
                         </div>
                    </div> 
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="overview-content">
                            <img src="{% static 'home/img/about/ab.jpg'%}" alt="">
                            <div class="video-content">
								<a href="../../../www.youtube.com/watch2b1e.html?v=O33uuBh6nXA" class="video-play vid-zone">
									<i class="fa fa-play"></i>
								</a>
							</div>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
        <!-- End Banner Area -->
        <!-- Start Counter Area -->
        <!-- End Counter Area -->
        <!-- Team area start -->	
        <!-- team area end -->
         <!-- Start Brand Area -->
        <div class="banner-area area-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="banner-all area-80 text-center">
                            <div class="banner-content">
                                <h3>Our worldwide integration partner work with long time relationship </h3>
                                <a class="banner-btn" href="/user/signin">Open new account</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <!-- End Banner Area -->
        <!-- Start Footer Area -->
        {% include "home/footer.html" %}
        <!-- End Footer Area -->
		
		<!-- all js here -->

		<!-- jquery latest version -->
		{% include "home/foot.html" %}
	</body>
</html>