<!doctype html>
<html class="no-js" lang="en">
{% include "home/head.html" %}
<body>

		<!--[if lt IE 8]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

        <div id="preloader"></div>
        {% include "home/header.html" %}
        <!-- header end -->
        <!-- Start Bottom Header -->
        <div class="page-area">
            <div class="breadcumb-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcrumb text-center">
                            <div class="section-headline white-headline text-center">
                                <h3>FAQ</h3>
                            </div>
                            <ul>
                                <li class="home-bread">Home</li>
                                <li>FAQ</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Header -->
        <!-- Start FAQ area -->
        <div class="faq-area area-padding-2">
            <div class="container">
                <div class="row">
                   <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="section-headline text-center">
                        <h3>Important FAQ for customer service</h3>
                        <p>Help agencies to define their new business objectives and then create professional software.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Start Column Start -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="company-faq left-faq">
                        <div class="single-faq">
                         <h4><span class="number">1.</span> <span class="q-text">How to Create an Account</span></h4>
                         <p>The registration procedure on PayFlat is simple. From the homepage, simply click on the Register link and fill the registration form. The field that specifies Account Type is where you will select the type of account you want to open. For the business owners and NGO, select the business option and supply your Business/NGO’s name, otherwise, if you want to register on the platform for personal use, select personal from Account type field and leave the Business/NGO name field empty. Upon successful registration and confirmation, you will be redirected to your dashboard and a mail containing your bank details will be forwarded to your registered email. With this personal bank detail, you can now receive money from any bank in Nigeria which will easily reflect in your payflat account instantly.
                         </p>
                     </div>
                     <div class="single-faq">
                         <h4><span class="number">3.</span><span class="q-text">How can you pay your Bill with PayFlat</span></h4>
                         <p>To pay for any Utility bills on payflat, simply login to your account with your login credentials. Then from the options in the dropdown list at the left-hand side, select Utility. This will list out the range of Utility bills you can pay for using payflat.
                         </p>
                     </div>
                     <div class="single-faq">
                         <h4><span class="number">5.</span><span class="q-text">How to become a PayFlat Merchant</span></h4>
                         <p>PayFlat Merchant Account feature is coming soon with the new version.</p>
                     </div>
                 </div>
             </div>
             <!-- Start Column Start -->
             <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="company-faq right-faq">
                    <div class="single-faq">
                     <h4><span class="number">2.</span><span class="q-text">I forgot my password. How do I reset my password?</span></h4>
                     <p>Resetting your payflat account password is easy. If you have any difficulty signing into the platform probably because you’ve forgotten your password, simply click on the forgotten password? link in the sign-in page and enter your registered email address. A Rest password link will be sent to your registered email, click on this link or simply copy and paste it in your web browser’s URL field, enter your new password and click on reset. </p>
                 </div>
                 <div class="single-faq">
                     <h4><span class="number">4.</span><span class="q-text">What are the Payment Options available on PayFlat</span></h4>
                     <p>With the current version, you can only do a mobile transfer or USSD transaction on your PayFlat account. The next version will introduce payment with cards whereby a customer will be able to perform international transactions in four (4) different currencies.</p>
                 </div>
                 <div class="single-faq">
                     <h4><span class="number">6.</span><span class="q-text">How to contact us if any issue arises</span></h4>
                     <p>If any issue arises or you have any further questions, you can send an email to <b>hello@payflat.net</b> or send a WhatsApp message to <b>08069475532</b> and our team will attend to it immediately.</p>
                 </div>
             </div>
         </div>
     </div>
 </div>
</div>
<!-- End FAQ area -->
<!-- Start Brand Area -->
<div class="banner-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="banner-all area-80 text-center">
                    <div class="banner-content">
                        <h3>Our worldwide integration partner work with long time relationship </h3>
                        <a class="banner-btn" href="#">Open new account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner Area -->
<!-- Start Footer Area -->
{% include "home/footer.html" %}
<!-- End Footer Area -->

<!-- all js here -->

<!-- jquery latest version -->
{% include "home/foot.html" %}
</body>
</html>