
	{% load static %}
    <script src="{% static 'home/js/vendor/jquery-1.12.4.min.js'%}"></script>
		<!-- bootstrap js -->
		<script src="{% static 'home/js/bootstrap.min.js'%}"></script>
		<!-- owl.carousel js -->
		<script src="{% static 'home/js/owl.carousel.min.js'%}"></script>
		  <!-- stellar js -->
        <script src="{% static 'home/js/jquery.stellar.min.js'%}"></script>
		<!-- Counter js -->
		<script src="{% static 'home/js/jquery.counterup.min.js'%}"></script>
		<!-- waypoint js -->
		<script src="{% static 'home/js/waypoints.js'%}"></script>
        <!-- Nice-select js -->
        <script src="{% static 'home/js/jquery.nice-select.min.js'%}"></script>
		<!-- magnific js -->
        <script src="{% static 'home/js/magnific.min.js'%}"></script>
        <!-- wow js -->
        <script src="{% static 'home/js/wow.min.js'%}"></script>
        <!-- meanmenu js -->
        <script src="{% static 'home/js/jquery.meanmenu.js'%}"></script>
		<!-- Form validator js -->
		<script src="{% static 'home/js/form-validator.min.js'%}"></script>
		<!-- plugins js -->
		<script src="{% static 'home/js/plugins.js'%}"></script>
		<!-- main js -->
		<script src="{% static 'home/js/main.js'%}"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7plUY7b1t09hFcO1S859kevN_LQfaxGA"></script>
		<script src="{% static 'home/js/mapcode.js'%}"></script>