{% load static %}
<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Payflat - Online Electronic wallet</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- favicon -->		
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'home/img/logo/favicon.ico'%}">

		<!-- all css here -->

		<!-- bootstrap v3.3.6 css -->
		<link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css'%}">
		<!-- owl.carousel css -->
		<link rel="stylesheet" href="{% static 'home/css/owl.carousel.css'%}">
		<link rel="stylesheet" href="{% static 'home/css/owl.transitions.css'%}">
       <!-- Animate css -->
        <link rel="stylesheet" href="{% static 'home/css/animate.css'%}">
        <!-- meanmenu css -->
        <link rel="stylesheet" href="{% static 'home/css/meanmenu.min.css'%}">
        <!-- Nice-select css -->
        <link rel="stylesheet" href="{% static 'home/css/nice-select.css'%}">
		<!-- font-awesome css -->
		<link rel="stylesheet" href="{% static 'home/css/font-awesome.min.css'%}">
		<link rel="stylesheet" href="{% static 'home/css/themify-icons.css'%}">
		<link rel="stylesheet" href="{% static 'home/css/flaticon.css'%}">
		<!-- magnific css -->
        <link rel="stylesheet" href="{% static 'home/css/magnific.min.css'%}">
		<!-- style css -->
		<link rel="stylesheet" href="{% static 'home/style.css'%}">
		<!-- responsive css -->
		<link rel="stylesheet" href="{% static 'home/css/responsive.css'%}">

		<!-- modernizr css -->
		<script src="{% static 'home/js/vendor/modernizr-2.8.3.min.js'%}"></script>
	</head>