{% load static %}
<header class="header-one">
    <!-- header-area start -->
    <div id="sticker" class="header-area hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="row">
                        <!-- logo start -->
                        <div class="col-md-3 col-sm-3">
                            <div class="logo">
                                <!-- Brand -->
                                <a class="navbar-brand page-scroll white-logo" href="/">
                                    <img src="{% static 'home/img/logo/logo3.png'%}" height="110" width="110" alt="">
                                </a>
                                <a class="navbar-brand page-scroll black-logo" href="/">
                                    <img src="{% static 'home/img/logo/logo.png'%}" height="110" width="110" alt="">
                                </a>
                            </div>
                            <!-- logo end -->
                        </div>
                        <div class="col-md-9 col-sm-9">
                            <div class="header-right-link">
								{% if user.is_authenticated %}
                                	<a class="s-menu" href="/user/dashboard">Dashboard</a>
								{% else %}
                                	<a class="s-menu" href="/user/signin">Login</a>
								{% endif %}
                            </div>
                            <!-- mainmenu start -->
                            <nav class="navbar navbar-default">
                                <div class="collapse navbar-collapse" id="navbar-example">
                                    <div class="main-menu">
                                        <ul class="nav navbar-nav navbar-right">
                                            <li>
												<a class="pages" href="/">Home</a>
                                            </li>
                                            <li><a href="/about">About us</a></li>
                                            <li><a href="/faq">Faq</a>
                                            </li>
                                            <li><a href="/pricing">Pricing</a></li>
                                            <li><a href="/contact">contacts</a></li>
											{% if user.is_authenticated %}
												<li><a href="/user/logout">Logout</a></li>
											{% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                            <!-- mainmenu end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header-area end -->
    <!-- mobile-menu-area start -->
    <div class="mobile-menu-area hidden-lg hidden-md hidden-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mobile-menu">
                        <div class="logo">
                            <a href="/"><img src="{% static 'home/img/logo/logo.png'%}" height="80" width="90" alt="" /></a>
                        </div>
                        <nav id="dropdown">
                            <ul>
                                <li>
									<a class="pages" href="/">Home</a>
                                </li>
                                <li><a href="/about">About us</a></li>
                                <li><a class="pages" href="/faq">Faq</a></li>
                                <li><a href="/pricing">Pricing</a></li>
                                <li><a href="/contact">contacts</a></li>
								{% if user.is_authenticated %}
                                    <li><a href="/user/dashboard">Dashboard</a></li>
									<li><a href="/user/logout">Logout</a></li>
                                {% else %}
                                    <a class="s-menu" href="/user/signin">Login</a>
								{% endif %}
                            </ul>
                        </nav>
                    </div>					
                </div>
            </div>
        </div>
    </div>
    <!-- mobile-menu-area end -->		
</header>