{% load static %}
<!doctype html>
<html class="no-js" lang="en">
		{% include "home/head.html" %}
		<body>

		<!--[if lt IE 8]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

        <div id="preloader"></div>
        {% include "home/header.html" %}
        <!-- header end -->
        <!-- Start Slider Area -->
		<div class="slide-area fix" data-stellar-background-ratio="0.6">
            <div class="display-table">
                <div class="display-table-cell">
					<div class="container">
						<div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <!-- Start Slider content -->
                                <div class="slide-content">
                                    <h2 class="title2">Your All-in-one Payment Platform</h2>
                                    <p>The fast, easy and secured choice for online financial transactions and utility payments</p>
                                    <div class="layer-1-3">
                                        <a href="/user/signup" class="ready-btn left-btn" >Register</a>
                                    </div>
                                </div>
                                <!-- End Slider content -->
						    </div>
						</div>
					</div>
				</div>
            </div>
		</div>
		<!-- End Slider Area -->
        <!-- Start How to area -->
        <div class="how-to-area area-padding">
            <div class="container">
                <div class="row">
                    <div class="all-services">
                        <!-- single-well end-->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="well-services first-item">
                                <div class="well-img">
                                    <a class="big-icon" href="#"><i class="flaticon-user-12"></i></a>
                                </div>
                                <div class="main-wel">
                                    <div class="wel-content">
                                        <h4><span>01.</span>Creat an account</h4>
                                        <p>Create your Account. It is free, quick and easy.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single-well end-->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="well-services ">
                                <div class="well-img">
                                    <a class="big-icon" href="#"><i class="flaticon-building"></i></a>
                                </div>
                                <div class="main-wel">
                                    <div class="wel-content">
                                        <h4><span>02.</span>Attach bank accounts</h4>
                                        <p>Payflat account is automatically created after account sign up, money can be added to this account to perform any transaction</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single-well end-->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="well-services thired-item">
                                <div class="well-img">
                                    <a class="big-icon" href="#"><i class="flaticon-worldwide"></i></a>
                                </div>
                                <div class="main-wel">
                                    <div class="wel-content">
                                        <h4><span>03.</span>Send/Recieve money</h4>
                                        <p>Easily perform financial transactions by sending and receiving money with PayFlat</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single-well end-->
                    </div>
                </div>
            </div>
        </div>
        <!-- End How to area -->
        <!-- service area start -->
        <div class="services-area area-padding-2">
            <div class="container">
               <div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="section-headline text-center">
                            <h3>What we offer</h3>
                            <p>We simplify the payment process and provides a flawless platform for financial transactions</p>
						</div>
					</div>
				</div>
                <div class="row">
                    <div class="all-services">
                        <!-- single-well end-->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single-service ">
                                <div class="service-img">
                                    <a class="service-icon" href="#"><i class="flaticon-transfer-1"></i></a>
                                </div>
                                <div class="main-service">
                                    <div class="service-content">
                                        <h4>Money Transfer</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single-well end-->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single-service ">
                                <div class="service-img">
                                    <a class="service-icon" href="#"><i class="flaticon-piggy-bank"></i></a>
                                </div>
                                <div class="main-service">
                                    <div class="service-content">
                                        <h4>Bank deposit</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single-well end-->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single-service ">
                                <div class="service-img">
                                    <a class="service-icon" href="#"><i class="flaticon-shopping-bag-1"></i></a>
                                </div>
                                <div class="main-service">
                                    <div class="service-content">
                                        <h4>Utility Bill</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single-well end-->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single-service ">
                                <div class="service-img">
                                    <a class="service-icon" href="#"><i class="flaticon-smartphone"></i></a>
                                </div>
                                <div class="main-service">
                                    <div class="service-content">
                                        <h4>Online payment</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single-well end-->
                    </div>
                </div>
            </div>
        </div>
        <!-- End service area End -->
        <!-- Start Feature Area -->
        <div class="feature-area bg-color fix area-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="feature-content">
                            <div class="feature-images">
                                <img src="{% static 'home/img/feature/f1.png'%} " alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="feature-text">
                            <h3>The benefits we offer for your business</h3>
						    <p>A payment system and digital wallet must ensure highly secure payments, sending and receiving money, and above all strengthen Bonds with Customers and Clients</p>
                            <h3>Increases transaction security.</h3>
                            <p>On payflat, we use encryption to secure all financial and personal data on our server, this prevents unauthorized access and transactions on our servers. Online financial transactions and bill payment processes have become one of our daily activities and the need for secure ways to make payment is high which is what we offer you.</p>
                            
                            <a class="feature-btn" href="/user/signup">Get started now</a>
                        </div>
                    </div>
                </div>
                <div class="row margin-row">
                    <div class="col-md-6 col-sm-6 hidden-xs">
                        <div class="feature-text">
                            <h3>We remove the paper and manual steps from your tasks.</h3>
						    <p>As opposed to working from different standalone tools and platforms, payflat offers an efficient system that includes receipts, financial transactions retrieval, time tracking, invoices, and payments in one dashboard.  This dashboard provides real-time information on transactions. With this ease of use and quick access, you can expand your customer base with our</p>
                            <ul>
                               <li><a href="#">Multicurrency platform</a></li>
                                <li><a href="#">User-friendly Platform</a></li>
                                <li><a href="#">Safe payment platform</a></li>
                            </ul>
                            <a class="feature-btn" href="/about">Learn about more</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="feature-content">
                            <div class="feature-images">
                                <img src="{% static 'home/img/feature/f2.png'%}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="hidden-md hidden-lg hidden-sm col-xs-12">
                        <div class="feature-text">
                            <h3>Easily grow your business earn more money</h3>
						    <p>Replacing a  maintains the amount of lines. When replacing a selection. help agencies to define their new business objectives and then create</p>
                            <ul>
                               <li><a href="#">Innovation idea latest business tecnology</a></li>
                                <li><a href="#">Digital content marketing online clients plateform</a></li>
                                <li><a href="#">Safe secure services for you online email account</a></li>
                            </ul>
                            <a class="feature-btn" href="#">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Feature Area -->
        <!-- Start Banner Area -->
        <div class="banner-area area-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="banner-all area-80 text-center">
                            <div class="banner-content">
                                <h3>With our Low, Flat-Rate Pricing, Pay Anyone, Anywhere, Anytime with No Hidden Costs.</h3>
                                <a class="banner-btn" href="/user/signup">Open new Account now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner Area -->
        <!-- Start Footer Area -->
        {% include "home/footer.html" %}
        <!-- End Footer Area -->
		
		<!-- all js here -->

		<!-- jquery latest version -->
		{% include "home/foot.html" %}
	</body>
</html>