<!doctype html>
<html class="no-js" lang="en">
	{% include "home/head.html" %}
		<body>

		<!--[if lt IE 8]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

        <div id="preloader"></div>
        {% include "home/header.html" %}
        <!-- header end -->
        <!-- Start Bottom Header -->
        <div class="page-area">
            <div class="breadcumb-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcrumb text-center">
                            <div class="section-headline white-headline text-center">
                                <h3>Pricing</h3>
                            </div>
                            <ul>
                                <li class="home-bread">Home</li>
                                <li>Pricing</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Header -->
        <!-- start pricing table area -->
        <div class="pricing-area area-padding-2">
            <div class="container">
                <div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="section-headline text-center">
                            <h3>Our all services worldwide</h3>
                            <p>Help agencies to define their new business objectives and then create professional software.</p>
						</div>
					</div>
				</div>
                <div class="row">
                    <div class="pricing-content">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="table-list">
                                <div class="top-price-inner">
                                    <h4>Wallet</h4>
                                    <div class="rates">
                                        <span class="prices"><span class="dolar">%</span>0</span><span class="users">Per Transaction</span>
                                    </div>
                                </div>
                                <div class="price-btn">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="table-list">
                                <span class="base">Best sale</span>
                                <div class="top-price-inner">
                                    <h4>Account</h4>
                                    <div class="rates">
                                        <span class="prices"><span class="dolar">%</span>1.5</span><span class="users">Per Transaction</span>
                                    </div>
                                </div>
                                <div class="price-btn">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="table-list">
                                <div class="top-price-inner">
                                    <h4>Int'l Payment</h4>
                                    <div class="rates">
                                        <span class="prices"><span class="dolar">%</span>4.5</span><span class="users">Per Transaction</span>
                                    </div>
                                </div>
                                <div class="price-btn">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End pricing table area -->
         <!-- Start Brand Area -->
        <div class="banner-area area-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="banner-all area-80 text-center">
                            <div class="banner-content">
                                <h3>Our worldwide integration partner work with long time relationship </h3>
                                <a class="banner-btn" href="#">Open new account</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner Area -->
        <!-- Start Footer Area -->
        {% include "home/footer.html" %}
        <!-- End Footer Area -->
		
		<!-- all js here -->

		<!-- jquery latest version -->
		{% include "home/foot.html" %}
	</body>
    </html>