{% load static %}
<!doctype html>
<html lang="en">

{% include "head.html" %}
<body>
  <!-- loader Start -->
  <div id="loading">
   <div id="loading-center">
   </div>
 </div>
 <!-- loader END -->
 <!-- Sign in Start -->
 <section class="sign-in-page">
  <div class="container mt-5 p-0 bg-white">
    <div class="row no-gutters">
      <div class="col-sm-6 align-self-center">
        <div class="sign-in-from">
          <h1 class="mb-0">Reset Password</h1>
          <p>Please enter your New Password</p>
          {% if validlink %}
          <form class="mt-4" action="" method="post">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                {{ form.email.errors }}
            <div class="form-group">
                {{ form.new_password1.errors }}
              <label for="exampleInputEmail1">New Password</label>
              <input type="text" name="new_password1" class="form-control mb-0" id="exampleInputEmail1" placeholder="New Password">
            </div>
            <div class="form-group">
                {{ form.new_password2.errors }}
              <label for="exampleInputEmail1">Confirm Password</label>
              <input type="text" name="new_password2" class="form-control mb-0" id="exampleInputEmail1" placeholder="Confirm Password">
            </div>
            <div class="d-inline-block w-100">

              <button type="submit" class="btn btn-primary float-right">Reset Password</button>
            </div>

          </form>
          {% else %}
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">Password reset unsuccessful</h4>
                        <p>The password reset link was invalid, <br />
                            possibly because it has already been used. <br />
                            Please request a new password reset.</p>
                    </div>
        {% endif %}
        </div>
      </div>
      <div class="col-sm-6 text-center">
        <div class="sign-in-detail text-white">
          <a class="sign-in-logo mb-5" href="#"><img src="{% static 'images/logo-white.png'%}" class="img-fluid" alt="logo"></a>
          <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="false" data-dots="true" data-items="1" data-items-laptop="1" data-items-tab="1" data-items-mobile="1" data-items-mobile-sm="1" data-margin="0">
            <div class="item">
              <img src="{% static 'images/login/1.png'%}" class="img-fluid mb-4" alt="logo">
              <h4 class="mb-1 text-white">Manage your orders</h4>
              <p>It is a long established fact that a reader will be distracted by the readable content.</p>
            </div>
            <div class="item">
              <img src="{% static 'images/login/1.png'%}" class="img-fluid mb-4" alt="logo">
              <h4 class="mb-1 text-white">Manage your orders</h4>
              <p>It is a long established fact that a reader will be distracted by the readable content.</p>
            </div>
            <div class="item">
              <img src="{% static 'images/login/1.png'%}" class="img-fluid mb-4" alt="logo">
              <h4 class="mb-1 text-white">Manage your orders</h4>
              <p>It is a long established fact that a reader will be distracted by the readable content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Sign in END -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{% include "foot.html" %}
</body>
</html>