<!DOCTYPE html>
<html lang="en">
{% include "admin/head.html" %}
<body class="air__menu--toggled air__layout--contentNoMaxWidth air__layout--cardsShadow air__menu--compact air__menu--blue air__menu__submenu--white air__layout--grayBackground air__layout--grayTopbar">
  <div class="air__initialLoading"></div>
  <div class="air__layout air__layout--hasSider">
    {% include "admin/sidebar.html" %}
    <div class="air__menuLeft__backdrop air__menuLeft__mobileActionToggle"></div>
    <div class="air__layout">
      <div class="air__layout__header">
        <div class="air__utils__header">
          {% include "admin/topbar.html" %}
        </div>
      </div>
      <div class="air__layout__content">
        <div class="air__utils__content">
          <div class="air__utils__heading">
</div>
<div class="card">
  <div class="card-body">
    <h4 class="mb-4">
      <strong>All Airtime Transaction</strong>
    </h4>
    <div class="row">
      <div class="col-lg-12">
        <div class="mb-5">
          <table class="table table-hover nowrap" id="example1">
            <thead>
              <tr>
                <th>Payment Ref</th>
                <th>Method</th>
                <th>Tnx Ref</th>
                 <th>Desc</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
            {% for data in airtime %}
              <tr>
                <td>{{data.payment_ref}}</td>
                <td>{{data.payment_method}}</td>
                <td>{{data.trans_ref}}</td>
                <td>{{data.payment_desc}}</td>
                <td>{{data.amount}}</td>
                <td>{{data.payment_date}}</td>
                <td>{{data.payment_status}}</td>
              </tr>
            {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <th>Payment Ref</th>
                <th>Method</th>
                <th>Tnx Ref</th>
                 <th>Desc</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Status</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  ;(function($) {
    'use strict'
    $(function() {
      $('#example1').DataTable({
        responsive: true,
      })

      $('#example2').DataTable({
        autoWidth: true,
        scrollX: true,
        fixedColumns: true,
      })

      $('#example3').DataTable({
        autoWidth: true,
        scrollX: true,
        fixedColumns: true,
      })
    })
  })(jQuery)
</script>
        </div>
      </div>
      <div class="air__layout__footer">
        <div class="air__footer">
          <div class="air__footer__inner">
            <div class="row">
              <div class="col-md-8">
                <p>
                  <strong>
                    Air UI Admin Template - Best Solution for Your Next Big App!
                  </strong>
                </p>
                <p>
                  Air UI is a set of modern professional Html / React / Vue and Angular based templates.
                  This is a powerful and super flexible tool, which suits best for any kind of web
                  application: Web Sites, Web Applications, Hybrid Apps, CRM, CMS, Admin Panels, etc.
                </p>
                <p>
                  &copy; 2019 Mediatec Software
                </p>
              </div>
              <div class="col-md-4">
                <div class="air__footer__logo">
                  <img src="../../components/core/img/air-logo.png" alt="Air UI" />
                  <div class="air__footer__logo__name">AIR UI</div>
                  <div class="air__footer__logo__descr">Admin Template</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>