<!DOCTYPE html>
<html lang="en">
{% include "admin/head.html" %}
<body class="air__menu--toggled air__layout--contentNoMaxWidth air__layout--cardsShadow air__menu--compact air__menu--blue air__menu__submenu--white air__layout--grayBackground air__layout--grayTopbar">
  <div class="air__initialLoading"></div>
  <div class="air__layout air__layout--hasSider">
   {% include "admin/sidebar.html" %}
    <div class="air__menuLeft__backdrop air__menuLeft__mobileActionToggle"></div>
    <div class="air__layout">
      <div class="air__layout__header">
        <div class="air__utils__header">
          {% include "admin/topbar.html" %}
        </div>
      </div>
      <div class="air__layout__content">
        <div class="air__utils__content">
          
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6 mb-5">
          {% for message in messages %}
              {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                  <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                      <strong>Warning - </strong> {{ message }}
                  </div>
              {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                  <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Success - </strong> {{ message }}
                  </div>
              {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                  <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <strong>Error - </strong> {{ message }}
                  </div>
              {% endif %}
        {% endfor %}
            <h4 class="mb-4">
              <strong>Upload Voucher</strong>
            </h4>
            <form action="/web/dstv_upload" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-5">
                  <input type="file" name="file" class="dropify" data-height="300" />
                </div>
                <button type="submit" class="btn btn-rounded btn-success btn-block mr-2 mb-2">Upload</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  ;(function($) {
    'use strict'
    $(function() {
      $('.dropify').dropify()
    })
  })(jQuery)
</script>
        </div>
      </div>
      <div class="air__layout__footer">
        <div class="air__footer">
          <div class="air__footer__inner">
            <div class="row">
              <div class="col-md-8">
                <p>
                  <strong>
                    Air UI Admin Template - Best Solution for Your Next Big App!
                  </strong>
                </p>
                <p>
                  Air UI is a set of modern professional Html / React / Vue and Angular based templates.
                  This is a powerful and super flexible tool, which suits best for any kind of web
                  application: Web Sites, Web Applications, Hybrid Apps, CRM, CMS, Admin Panels, etc.
                </p>
                <p>
                  &copy; 2019 Mediatec Software
                </p>
              </div>
              <div class="col-md-4">
                <div class="air__footer__logo">
                  <img src="../../components/core/img/air-logo.png" alt="Air UI" />
                  <div class="air__footer__logo__name">AIR UI</div>
                  <div class="air__footer__logo__descr">Admin Template</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>