{% load humanize %}
<!doctype html>
<html lang="en">
{% include "admin/head.html" %}
<body class="fixed">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <div class="wrapper">
        <!-- Sidebar  -->
        {% include "admin/sidebar.html" %}
        <!-- Page Content  -->
        <div class="content-wrapper">
            <div class="main-content">
                {% include "admin/topbar.html" %}
                <!--/.navbar-->
                <!--Content Header (Page header)-->
                <div class="content-header row align-items-center m-0">
                    <nav aria-label="breadcrumb" class="col-sm-4 order-sm-last mb-3 mb-sm-0 p-0 ">
                        <ol class="breadcrumb d-inline-flex font-weight-600 fs-13 bg-white mb-0 float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Tables</a></li>
                            <li class="breadcrumb-item active">Data Table</li>
                        </ol>
                    </nav>
                    <div class="col-sm-8 header-title p-0">
                        <div class="media">
                            <div class="media-body">
                                <h1 class="font-weight-bold">All Electricity Purchase</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.Content Header (Page header)--> 
                <div class="body-content">
                    <!--Bootstrap 4 styling-->
                    <!--Bootstrap 4 modal-->
                    <!--Bootstrap 4 Print button-->
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="example" class="table display table-bordered table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Tnx ID</th>
                                            <th>Tnx Ref</th>
                                            <th>Description</th>
                                            <th>Token</th>
                                            <th>Date Purchase</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for data in show %}
                                        <tr>
                                            <td>{{data.txn_id}}</td>
                                            <td>{{data.txn_ref}}</td>
                                            <td>{{data.desc}}</td>
                                            <td>{{data.token}}</td>
                                            <td>{{data.date_purchase}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Tnx ID</th>
                                            <th>Tnx Ref</th>
                                            <th>Description</th>
                                            <th>Token</th>
                                            <th>Date Purchase</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div><!--/.body content-->
            </div><!--/.main content-->
            {% include "admin/footer.html" %}
            <div class="overlay"></div>
        </div><!--/.wrapper-->
    </div>
    <!--Global script(used by all pages)-->
    {% include "admin/foot.html" %}
</body>
</html>