<footer class="footer-content">
                <div class="footer-text d-flex align-items-center justify-content-between">
                    <div class="copy">&copy; {% now "Y" %} PayFlat</div>
                    <div class="credit">Designed by: <a href="#">Savitech Nigeria</a></div>
                </div>
            </footer>