  {% load static %}
  <script data-cfasync="false" src="{% static 'web/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js'%}"></script>
  <script src="{% static 'web/assets/plugins/jQuery/jquery-3.4.1.min.js'%}"></script>
    <script src="{% static 'web/assets/dist/js/popper.min.js'%}"></script>
    <script src="{% static 'web/assets/plugins/bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'web/assets/plugins/metisMenu/metisMenu.min.js'%}"></script>
    <script src="{% static 'web/assets/plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js'%}"></script>
    <!-- Third Party Scripts(used by this page)-->
    <script src="{% static 'web/assets/plugins/chartJs/Chart.min.js'%}"></script>
    <script src="{% static 'web/assets/plugins/sparkline/sparkline.min.js'%}"></script>
    <script src="{% static 'web/assets/plugins/datatables/dataTables.min.js'%}"></script>
    <script src="{% static 'web/assets/plugins/datatables/dataTables.bootstrap4.min.js'%}"></script>
    <!--Page Active Scripts(used by this page)-->
    <script src="{% static 'web/assets/dist/js/pages/dashboard.js'%}"></script>
    <!--Page Scripts(used by all page)-->
    <script src="{% static 'web/assets/dist/js/sidebar.js'%}"></script>

    <script src="{% static 'web/assets/plugins/datatables/dataTables.min.js'%}"></script>
    <script src="{% static 'web/assets/plugins/datatables/dataTables.bootstrap4.min.js'%}"></script>
    <script src="{% static 'web/assets/plugins/datatables/dataTables.responsive.min.js'%}"></script>
    <script src="{% static 'web/assets/plugins/datatables/responsive.bootstrap4.min.js'%}"></script>
    <script src="{% static 'web/assets/plugins/datatables/dataTables.buttons.min.js'%}"></script>
    <script src="{% static 'web/assets/plugins/datatables/buttons.bootstrap4.min.js'%}"></script>
    <script src="{% static 'web/assets/plugins/datatables/jszip.min.js'%}"></script>
    <script src="{% static 'web/assets/plugins/datatables/pdfmake.min.js'%}"></script>
    <script src="{% static 'web/assets/plugins/datatables/vfs_fonts.js'%}"></script>
    <script src="{% static 'web/assets/plugins/datatables/buttons.html5.min.js'%}"></script>
    <script src="{% static 'web/assets/plugins/datatables/buttons.print.min.js'%}"></script>
    <script src="{% static 'web/assets/plugins/datatables/buttons.colVis.min.js'%}"></script>
    <!--Page Active Scripts(used by this page)-->
    <script src="{% static 'web/assets/plugins/datatables/data-bootstrap4.active.js'%}"></script>
     <script src="{% static 'web/assets/plugins/modals/classie.js'%}"></script>
        <script src="{% static 'web/assets/plugins/modals/modalEffects.js'%}"></script>