{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive Bootstrap 4 Admin &amp; Dashboard Template">
    <meta name="author" content="Bdtask">
    <title>Payflat - Admin Deshboard</title>
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'web/assets/dist/img/favicon.ico'%}">
    <!--Global Styles(used by all pages)-->
    <link href="{% static 'web/assets/plugins/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'web/assets/plugins/metisMenu/metisMenu.min.css'%}" rel="stylesheet">
    <link href="{% static 'web/assets/plugins/fontawesome/css/all.min.css'%}" rel="stylesheet">
    <link href="{% static 'web/assets/plugins/typicons/src/typicons.min.css'%}" rel="stylesheet">
    <link href="{% static 'web/assets/plugins/themify-icons/themify-icons.min.css'%}" rel="stylesheet">
    <!--Third party Styles(used by this page)--> 
    <link href="{% static 'web/assets/plugins/datatables/dataTables.bootstrap4.min.css'%}" rel="stylesheet">
    <!--Start Your Custom Style Now-->
    <link href="{% static 'web/assets/dist/css/style.css'%}" rel="stylesheet">
    <link href="{% static 'web/assets/plugins/datatables/dataTables.bootstrap4.min.css'%}" rel="stylesheet">
    <link href="{% static 'web/assets/plugins/datatables/responsive.bootstrap4.min.css'%}" rel="stylesheet">
    <link href="{% static 'web/assets/plugins/modals/component.css'%}" rel="stylesheet">
</head>