{% load static %}
{% load humanize %}
<!doctype html>
<html lang="en">
{% include "admin/head.html" %}
<body class="fixed">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <div class="wrapper">
        <!-- Sidebar  -->
        {% include "admin/sidebar.html" %}
        <!-- Page Content  -->
        <div class="content-wrapper">
            <div class="main-content">
                {% include "admin/topbar.html" %}
                <!--/.navbar-->
                <!--Content Header (Page header)-->
                <div class="content-header row align-items-center m-0">
                    <nav aria-label="breadcrumb" class="col-sm-4 order-sm-last mb-3 mb-sm-0 p-0 ">
                        <ol class="breadcrumb d-inline-flex font-weight-600 fs-13 bg-white mb-0 float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </nav>
                    <div class="col-sm-8 header-title p-0">
                        <div class="media">
                            <div class="header-icon text-success mr-3"><i class="typcn typcn-spiral"></i></div>
                            <div class="media-body">
                                <h1 class="font-weight-bold">Dashboard</h1>
                                <small>From now on you will start your activities.</small>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.Content Header (Page header)--> 
                <div class="body-content">
                    <div class="row">
                        <div class="col-lg-12 col-xl-6">
                            <div class="card mb-4">
                                <div class="card-body text-center">
                                    <div class="row justify-content-center">
                                        <div class="greet-user col-12 col-xl-10">
                                            <img src="{% static 'web/assets/dist/img/happiness.svg'%}" alt="..." class="img-fluid  mb-2">
                                            <h2 class="fs-23 font-weight-600 mb-2">
                                                Welcome {{user.last_name}},
                                            </h2>
                                            <p class="text-muted">
                                                You have done 57.6% more sales today. Check your new badge in your profile.
                                            </p>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-6">
                            <div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <!--Revenue today indicator--> 
                                    <div class="p-2 bg-white rounded p-3 mb-3 shadow-sm">
                                        <div class="header-pretitle text-muted fs-11 font-weight-bold text-uppercase mb-2">
                                            Revenue today
                                        </div>
                                        <div class="badge badge-success fs-26 text-monospace mx-auto">₦{{show|intcomma}}</div>
                                        <div class="text-muted small mt-1">
                                            <span class="text-danger">
                                                <i class="fas fa fa-long-arrow-alt-down"></i>
                                                5% 
                                            </span> vs average
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <!--Feedback--> 
                                    <div class="d-flex position-relative overflow-hidden flex-column p-3 mb-3 bg-white shadow-sm rounded">
                                        <div class="header-pretitle text-muted fs-11 font-weight-bold text-uppercase mb-2">Latest Feedback</div>
                                        <i class="fas fa fa-smile opacity-25 fa-5x text-warning decorative-icon"></i>
                                        <div class="d-flex">
                                            <div>
                                                <img class="d-block rounded-circle" width="32" src="assets/dist/img/avatar-5.jpg">
                                            </div>
                                            <div class="pl-3">
                                                Nothing bad to say<br/> at this point 😌
                                                <a class="d-block mt-1 small opacity-75" href="cdn-cgi/l/email-protection.html#117974637c707f62657063787a7e6751767c70787d3f727e7c">Write back</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <!--Balance indicator--> 
                                    <div class="p-2 bg-white rounded p-3 mb-3 shadow-sm">
                                        <div class="header-pretitle text-muted fs-11 font-weight-bold text-uppercase mb-2">
                                            Balance
                                        </div>
                                        <div class="text-muted">
                                            <i class="fas fa fa-long-arrow-alt-up text-success"></i>
                                            <span class="text-success text-size-2 text-monospace">
                                                0.02% 
                                            </span> this month
                                        </div>
                                        <span class="small">Stripe:</span>
                                        <span class="small text-monospace mx-auto">$4,480<span class="opacity-50">.00</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <!--Time on site indicator--> 
                                <div class="d-flex flex-column p-3 mb-3 bg-white shadow-sm rounded">
                                    <div class="header-pretitle text-muted fs-11 font-weight-bold text-uppercase mb-2">avg time on site</div>
                                    <div class="d-flex align-items-center">
                                        <i class="fas fa fa-clock opacity-25 mr-2 text-size-3"></i>
                                        <span class="text-size-2 text-monospace">10</span>
                                        <span class="text-size-2">m</span>
                                        <span class="text-size-2 text-monospace">30</span>
                                        <span class="text-size-2">s</span>
                                    </div>
                                    <div class="text-muted small">
                                        <span class="text-success text-monospace">
                                            <i class="fas fa fa-long-arrow-alt-up"></i>
                                            5% 
                                        </span> vs last week
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <!--Top Referrals--> 
                                <div class="d-flex flex-column p-3 mb-3 bg-white shadow-sm rounded">
                                    <div class="header-pretitle text-muted fs-11 font-weight-bold text-uppercase mb-2">Top Referrals</div>
                                    <div>
                                        <i class="fas fa fa-caret-up text-success"></i>
                                        <span class="mx-1 text-monospace">62%</span>
                                        <!--           <i class="fab fa-xs fa-google"></i>  -->
                                        <a href="#">google</a>
                                    </div>
                                    <div class="opacity-75">
                                        <i class="fas fa fa-caret-down text-danger"></i>
                                        <span class="text-secondary mx-1 text-monospace">25%</span>
                                        <!--           <i class="fab fa-xs fa-y-combinator"></i>  -->
                                        <a href="#" >news.ycombinator</a>
                                    </div>
                                    <div class="opacity-50">
                                        <i class="text-muted">–</i>
                                        <span class="text-secondary mx-1 text-monospace">20%</span>
                                        <!--           <i class="fab fa-xs fa-product-hunt"></i>  -->
                                        <a href="#">producthunt</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <!--Sessions by device-->  
                                <div class="d-flex flex-column p-3 mb-3 bg-white shadow-sm rounded">
                                    <div class="header-pretitle text-muted fs-11 font-weight-bold text-uppercase mb-2">Sessions by device</div>
                                    <div class="row text-center">
                                        <div class="col">
                                            <i class="fas fa fa-mobile mb-2 text-size-2"></i>
                                            <div class="text-monospace">54%</div>
                                        </div>
                                        <div class="col">
                                            <i class="fas fa fa-tablet opacity-50 mb-2 text-size-2"></i>
                                            <div class="text-monospace text-secondary">26%</div>
                                        </div>
                                        <div class="col">
                                            <i class="fas fa fa-laptop opacity-25 mb-2 text-size-2"></i>
                                            <div class="text-monospace text-secondary">20%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h6 class="fs-17 font-weight-600 mb-0">Recent Transactions</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class=table-responsive>
                                    <!--<table class="table table-sm table-nowrap card-table">-->
                                        <table class="table display table-bordered table-striped table-hover bg-white m-0 card-table">
                                            <thead>
                                                <tr>
                                                    <th>Ref</th>
                                                    <th>Desc</th>
                                                    <th>Txn Ref</th>
                                                    <th>Amount</th>
                                                    <th>Status</th>
                                                    <th>Txn Date</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for data in all_trans %}
                                                <tr>
                                                    <td>{{data.payment_ref}}</td>
                                                    <td>{{data.payment_desc}}</td>
                                                    <td>{{data.trans_ref}}</td>
                                                    <td>{{data.cur}} {{data.amount|intcomma}}</td>
                                                    <td>{{data.payment_status}}</td>
                                                    <td>{{data.payment_date}}</td>
                                                    <td>
                                                        <a href="#" class="btn btn-success-soft btn-sm mr-1"><i class="far fa-eye"></i></a>
                                                        <a href="#" class="btn btn-danger-soft btn-sm"><i class="far fa-trash-alt"></i></a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.body content-->
            </div><!--/.main content-->
            {% include "admin/footer.html" %}
            <div class="overlay"></div>
        </div><!--/.wrapper-->
    </div>
    <!--Global script(used by all pages)-->
  {% include "admin/foot.html" %}
</body>
</html>