{% load static %}
<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Responsive Bootstrap 4 Admin &amp; Dashboard Template">
	<meta name="author" content="Bdtask">
	<title>Payflat - Admin Login</title>
	<!-- App favicon -->
	<link rel="shortcut icon" href="assets/dist/img/favicon.png">
	<!--Global Styles(used by all pages)-->
	<link href="{% static 'web/assets/plugins/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
	<link href="{% static 'web/assets/plugins/metisMenu/metisMenu.min.css'%}" rel="stylesheet">
	<link href="{% static 'web/assets/plugins/fontawesome/css/all.min.css'%}" rel="stylesheet">
	<link href="{% static 'web/assets/plugins/typicons/src/typicons.min.css'%}" rel="stylesheet">
	<link href="{% static 'web/assets/plugins/themify-icons/themify-icons.min.css'%}" rel="stylesheet">
	<!--Third party Styles(used by this page)--> 

	<!--Start Your Custom Style Now-->
	<link href="{% static 'web/assets/dist/css/style.css'%}" rel="stylesheet">
</head>
<body class="bg-white">
	<div class="d-flex align-items-center justify-content-center text-center h-100vh">
		<div class="form-wrapper m-auto">
			<div class="form-container my-4">
				<div class="register-logo text-center mb-4">
					<img src="{% static 'web/assets/dist/img/logo2.html'%}" alt="">
				</div>
				<div class="panel">
					<div class="panel-header text-center mb-3">
						<h3 class="fs-24">Administrator Login</h3>
						<p class="text-muted text-center mb-0">Please log in with your Administrator details.</p>
						{% for message in messages %}
						{% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
						<div class="alert alert-warning" role="alert">
							{{message}}
						</div>
						{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
						<div class="alert alert-success" role="alert">
							{{message}}
						</div>
						{% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
						<div class="alert alert-danger" role="alert">
							{{message}}
						</div>
						{% endif %}
						{% endfor %}
					</div>
					<form class="register-form" action="/web/" method="post">
						{% csrf_token %}
						<div class="form-group">
							<input type="email" name="email" class="form-control" id="emial" placeholder="Enter email">
						</div>
						<div class="form-group">
							<input type="password" name="password" class="form-control" id="pass" placeholder="Password">
						</div>
						<div class="custom-control custom-checkbox mb-3">
							<input type="checkbox" class="custom-control-input" id="customCheck1">
							<label class="custom-control-label" for="customCheck1">Remember me next time </label>
						</div>
						<button type="submit" class="btn btn-success btn-block">Sign in</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /.End of form wrapper -->
	<!--Global script(used by all pages)-->
	<script src="{% static 'web/assets/plugins/jQuery/jquery-3.4.1.min.js'%}"></script>
	<script src="{% static 'web/assets/dist/js/popper.min.js'%}"></script>
	<script src="{% static 'web/assets/plugins/bootstrap/js/bootstrap.min.js'%}"></script>
	<script src="{% static 'web/assets/plugins/metisMenu/metisMenu.min.js'%}"></script>
	<script src="{% static 'web/assets/plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js'%}"></script>
	<!-- Third Party Scripts(used by this page)-->

	<!--Page Active Scripts(used by this page)-->

	<!--Page Scripts(used by all page)-->
	<script src="{% static 'web/assets/dist/js/sidebar.js'%}"></script>
</body>
</html>