{% load static %}
<nav class="sidebar sidebar-bunker">
            <div class="sidebar-header">
                <!--<a href="index.html" class="logo"><span>bd</span>task</a>-->
                <a href="/web/home" class="logo"><img src="{% static 'web/assets/dist/img/logo.png'%}" height="100" width="100" alt=""></a>
            </div><!--/.sidebar header-->
            <div class="profile-element d-flex align-items-center flex-shrink-0">
                <div class="avatar online">
                    <img src="{% static 'web/assets/dist/img/avatar-1.jpg'%}" class="img-fluid rounded-circle" alt="">
                </div>
                <div class="profile-text">
                    <h6 class="m-0">{{user.last_name}} {{user.first_name}}</h6>
                    <span>{{user.email}}</span>
                </div>
            </div><!--/.profile element-->
            <!--/.search-->
            <div class="sidebar-body">
                <nav class="sidebar-nav">
                    <ul class="metismenu">
                        <li class="nav-label">Main Menu</li>
                        <li>
                            <a href="/web/home">
                                <i class="typcn typcn-home-outline mr-2"></i>
                                Dashboard
                            </a>
                        </li>
                        <li>
                            <a href="/web/all_trans">
                                <i class="typcn typcn-document"></i>
                                All transaction
                            </a>
                        </li>
                        <li><a href="/web/all_invoice"><i class="typcn typcn-document"></i> All Invoice</a></li>
                        <li>
                            <a class="has-arrow material-ripple" href="#">
                                <i class="typcn typcn-group"></i>
                                User Management
                            </a>
                            <ul class="nav-second-level">
                                <li><a href="/web/users">All User</a></li>
                                <li><a href="/web/application">All Int'l Application</a></li>
                                <li><a href="#">Credit User</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow material-ripple" href="#">
                                <i class="typcn typcn-archive mr-2"></i>
                                Account Management
                            </a>
                            <ul class="nav-second-level">
                                <li><a href="/web/accounts">All Reserved Account</a></li>
                            </ul>
                        </li>
                        <li class="nav-label">Components</li>
                       
                        <li><a href="/web/electricity"><i class="typcn typcn-flash-outline"></i>Electricity History</a></li>
                        <li><a href="calender.html"><i class="typcn typcn-calendar-outline mr-2"></i>Calendar</a></li>
                        <li class="nav-label">Extra</li>
                       
                        <li><a href="blank-page.html"><i class="typcn typcn-bookmark mr-2"></i>Blank page</a></li>
                        <li><a href="changelog.html"><i class="typcn typcn-attachment-outline mr-2"></i>Changelog<span class="badge badge-success ml-auto">v1.1.0</span></a></li>
                    </ul>
                </nav>
            </div>
        </nav>