{% load static %}
<nav class="navbar-custom-menu navbar navbar-expand-lg m-0">
                    <div class="sidebar-toggle-icon" id="sidebarCollapse">
                        sidebar toggle<span></span>
                    </div>
                    <!--/.sidebar toggle icon-->
                    <div class="d-flex flex-grow-1">
                        <ul class="navbar-nav flex-row align-items-center ml-auto">
                            <li class="nav-item dropdown quick-actions">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                    <i class="typcn typcn-th-large-outline"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" >
                                    <div class="nav-grid-row row">
                                        <a href="#" class="icon-menu-item col-4">
                                            <i class="typcn typcn-cog-outline d-block"></i>
                                            <span>Settings</span>
                                        </a>
                                        <a href="#" class="icon-menu-item col-4">
                                            <i class="typcn typcn-group-outline d-block"></i>
                                            <span>Users</span>
                                        </a>
                                        <a href="#" class="icon-menu-item col-4">
                                            <i class="typcn typcn-puzzle-outline d-block"></i>
                                            <span>Components</span>
                                        </a>
                                        <a href="#" class="icon-menu-item col-4">
                                            <i class="typcn typcn-chart-bar-outline d-block"></i>
                                            <span>Profits</span>
                                        </a>
                                        <a href="#" class="icon-menu-item col-4">
                                            <i class="typcn typcn-time d-block"></i>
                                            <span>New Event</span>
                                        </a>
                                        <a href="#" class="icon-menu-item col-4">
                                            <i class="typcn typcn-edit d-block"></i>
                                            <span>Tasks</span>
                                        </a>
                                    </div>
                                </div>
                            </li><!--/.dropdown-->
                            <!--/.dropdown-->
                            <li class="nav-item dropdown user-menu">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                    <!--<img src="assets/dist/img/user2-160x160.png" alt="">-->
                                    <i class="typcn typcn-user-add-outline"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" >
                                    <div class="dropdown-header d-sm-none">
                                        <a href="#" class="header-arrow"><i class="icon ion-md-arrow-back"></i></a>
                                    </div>
                                    <div class="user-header">
                                        <div class="img-user">
                                            <img src="{% static 'web/assets/dist/img/avatar-1.jpg'%}" alt="">
                                        </div><!-- img-user -->
                                        <h6>{{user.last_name}} {{user.first_name}}</h6>
                                        <span>{{user.email}}</span>
                                    </div><!-- user-header -->
                                    <a href="#" class="dropdown-item"><i class="typcn typcn-user-outline"></i> My Profile</a>
                                    <a href="#" class="dropdown-item"><i class="typcn typcn-edit"></i> Edit Profile</a>
                                    <a href="#" class="dropdown-item"><i class="typcn typcn-arrow-shuffle"></i> Activity Logs</a>
                                    <a href="#" class="dropdown-item"><i class="typcn typcn-cog-outline"></i> Account Settings</a>
                                    <a href="/web/logout" class="dropdown-item"><i class="typcn typcn-key-outline"></i> Sign Out</a>
                                </div><!--/.dropdown-menu -->
                            </li>
                        </ul>
                        <!--/.navbar nav-->
                        <div class="nav-clock">
                            <div class="time">
                                <span class="time-hours"></span>
                                <span class="time-min"></span>
                                <span class="time-sec"></span>
                            </div>
                        </div><!-- nav-clock -->
                    </div>
                </nav>