<!doctype html>
<html lang="en">
   {% include "admin/head.html" %}
    <body class="fixed">
        <!-- Page Loader -->
        <div class="page-loader-wrapper">
            <div class="loader">
                <div class="preloader">
                    <div class="spinner-layer pl-green">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <p>Please wait...</p>
            </div>
        </div>
        <!-- #END# Page Loader -->
        <div class="wrapper">
            <!-- Sidebar  -->
            {% include "admin/sidebar.html" %}
            <!-- Page Content  -->
            <div class="content-wrapper">
                <div class="main-content">
                    {% include "admin/topbar.html" %}
                    <!--/.navbar-->
                    <div class="body-content">
                        <div class="row">
                            <div class="col-sm-12 col-xl-8">
                                <div class="media d-flex m-1 ">
                                    <div class="media-body text-left ml-3 mt-1">
                                        <h3 class="font-large-1 white">{{all_info.last_name}} {{all_info.first_name}}
                                            <span class="font-medium-1 white">({{all_info.phone}})</span>
                                            {% if all_info.app_status == 1 %}
                                                <button type="submit" class="btn btn-fill btn-success">Approved</button>
                                            {% else %}
                                                <button type="submit" class="btn btn-fill btn-danger">Pending</button>
                                            {% endif %}
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h6 class="mb-0 font-weight-600">Birthday</h6>
                                            </div>
                                            <div class="col-auto">
                                                <time class="fs-13 font-weight-600 text-muted" datetime="1988-10-24">{{all_info.dob}}</time>
                                            </div>
                                        </div> 
                                        <hr>
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h6 class="mb-0 font-weight-600">Date Applied</h6>
                                            </div>
                                            <div class="col-auto">
                                                <time class="fs-13 font-weight-600 text-muted" datetime="2018-10-28">{{all_info.date_applied}}</time>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h6 class="mb-0 font-weight-600">Means of ID</h6>
                                            </div>
                                            <div class="col-auto">
                                                <span class="fs-13 font-weight-600 text-muted">{{all_info.m_identity}}</span>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h6 class="mb-0 font-weight-600">ID Number</h6>
                                            </div>
                                            <div class="col-auto">
                                                <span class="fs-13 font-weight-600 text-muted">{{all_info.id_no}}</span>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row align-items-center">
                                            <button type="submit" class="btn btn-fill btn-primary">Approved</button>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <button type="submit" class="btn btn-fill btn-primary">Approved</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <h6 class="fs-17 font-weight-600 mb-0">Application Detail</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-5 pr-md-1">
                                                    <div class="form-group">
                                                        <label class="font-weight-600">Application Number</label>
                                                        <input type="text" class="form-control" disabled="" value="{{all_info.app_id}}">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 px-md-1">
                                                    <div class="form-group">
                                                        <label class="font-weight-600">Mobile Number</label>
                                                        <input type="text" class="form-control" disabled="" value="{{all_info.phone}}">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 pl-md-1">
                                                    <div class="form-group">
                                                        <label class="font-weight-600">Email address</label>
                                                        <input type="email" class="form-control" disabled="" placeholder="{{all_info.email}}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 pr-md-1">
                                                    <div class="form-group">
                                                        <label class="font-weight-600">First Name</label>
                                                        <input type="text" class="form-control" disabled="" value="{{all_info.first_name}}">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 pl-md-1">
                                                    <div class="form-group">
                                                        <label class="font-weight-600">Last Name</label>
                                                        <input type="text" class="form-control" disabled="" value="{{all_info.last_name}}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="font-weight-600">Address</label>
                                                        <input type="text" class="form-control" disabled="" value="{{all_info.address}}">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--/.body content-->
                </div><!--/.main content-->
                {% include "admin/footer.html" %}
                <!--/.footer content-->
                <div class="overlay"></div>
            </div><!--/.wrapper-->
        </div>
        <!--Global script(used by all pages)-->
        {% include "admin/foot.html" %}
    </body>
</html>