{% load humanize %}
<!doctype html>
<html lang="en">
   {% include "admin/head.html" %}
    <body class="fixed">
        <!-- Page Loader -->
        <div class="page-loader-wrapper">
            <div class="loader">
                <div class="preloader">
                    <div class="spinner-layer pl-green">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <p>Please wait...</p>
            </div>
        </div>
        <!-- #END# Page Loader -->
        <div class="wrapper">
            <!-- Sidebar  -->
            {% include "admin/sidebar.html" %}
            <!-- Page Content  -->
            <div class="content-wrapper">
                <div class="main-content">
                    {% include "admin/topbar.html" %}
                    <!--/.navbar-->
                    <div class="body-content">
                        <div class="row">
                            <div class="col-sm-12 col-xl-8">
                                <div class="media d-flex m-1 ">
                                    <div class="media-body text-left ml-3 mt-1">
                                        <h3 class="font-large-1 white">{{view_.last_name}} {{view_.first_name}}
                                            <span class="font-medium-1 white">({{view_.phone}})</span>
                                            {% if view_.is_active == 1 %}
                                                <button type="submit" class="btn btn-fill btn-success">Active</button>
                                            {% else %}
                                                <button type="submit" class="btn btn-fill btn-danger">Inactive</button>
                                            {% endif %}
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h6 class="mb-0 font-weight-600">Account Name</h6>
                                            </div>
                                            <div class="col-auto">
                                                <time class="fs-13 font-weight-600 text-muted" datetime="1988-10-24">{{view_.acct_name}}</time>
                                            </div>
                                        </div> 
                                        <hr>
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h6 class="mb-0 font-weight-600">Account No</h6>
                                            </div>
                                            <div class="col-auto">
                                                <time class="fs-13 font-weight-600 text-muted" datetime="2018-10-28">{{view_.acct_no}}</time>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h6 class="mb-0 font-weight-600">Bank Name</h6>
                                            </div>
                                            <div class="col-auto">
                                                <span class="fs-13 font-weight-600 text-muted">{{view_.bank_name}}</span>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h6 class="mb-0 font-weight-600">Bank Code</h6>
                                            </div>
                                            <div class="col-auto">
                                                <span class="fs-13 font-weight-600 text-muted">{{view_.bank_code}}</span>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row align-items-center">
                                            <a href="/web/user_trans/{{view_.id}}"><button type="submit" class="btn btn-fill btn-primary">User Transaction</button></a>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            {% if view_.is_superuser == True %}
                                            {% else %}
                                                {% if view_.is_active == True %}
                                                    <a href="/web/block_user/{{view_.id}}"><button type="submit" class="btn btn-fill btn-danger">Block</button></a>
                                                {% else %}
                                                    <a href="/web/unblock_user/{{view_.id}}"><button type="submit" class="btn btn-fill btn-success">Unblock</button></a>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <h6 class="fs-17 font-weight-600 mb-0">User Information</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-5 pr-md-1">
                                                    <div class="form-group">
                                                        <label class="font-weight-600">Date Join</label>
                                                        <input type="text" class="form-control" disabled="" value="{{view_.date_registered}}">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 px-md-1">
                                                    <div class="form-group">
                                                        <label class="font-weight-600">Mobile Number</label>
                                                        <input type="text" class="form-control" disabled="" value="{{view_.phone}}">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 pl-md-1">
                                                    <div class="form-group">
                                                        <label class="font-weight-600">Email address</label>
                                                        <input type="email" class="form-control" disabled="" placeholder="{{view_.email}}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 pr-md-1">
                                                    <div class="form-group">
                                                        <label class="font-weight-600">First Name</label>
                                                        <input type="text" class="form-control" disabled="" value="{{view_.first_name}}">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 pl-md-1">
                                                    <div class="form-group">
                                                        <label class="font-weight-600">Last Name</label>
                                                        <input type="text" class="form-control" disabled="" value="{{view_.last_name}}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="font-weight-600">Last Login</label>
                                                        <input type="text" class="form-control" disabled="" value="{{view_.last_login}}">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                                <div class="card card-stats statistic-box mb-4">
                                    <div class="card-header card-header-warning card-header-icon position-relative border-0 text-right px-3 py-0">
                                        <div class="card-icon d-flex align-items-center justify-content-center">
                                            <i class="typcn typcn-credit-card"></i>
                                        </div>
                                        <p class="card-category text-uppercase fs-10 font-weight-bold text-muted">NGN Balance</p>
                                        <h3 class="card-title fs-18 font-weight-bold">{{bal.bal|intcomma}}</h3>
                                    </div>
                                    <div class="card-footer p-3">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                                <div class="card card-stats statistic-box mb-4">
                                    <div class="card-header card-header-success card-header-icon position-relative border-0 text-right px-3 py-0">
                                        <div class="card-icon d-flex align-items-center justify-content-center">
                                            <i class="typcn typcn-credit-card"></i>
                                        </div>
                                        <p class="card-category text-uppercase fs-10 font-weight-bold text-muted">USD Balance</p>
                                        <h3 class="card-title fs-21 font-weight-bold">{{bal.usd|intcomma}}</h3>
                                    </div>
                                    <div class="card-footer p-3">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                                <div class="card card-stats statistic-box mb-4">
                                    <div class="card-header card-header-danger card-header-icon position-relative border-0 text-right px-3 py-0">
                                        <div class="card-icon d-flex align-items-center justify-content-center">
                                            <i class="typcn typcn-credit-card"></i>
                                        </div>
                                        <p class="card-category text-uppercase fs-10 font-weight-bold text-muted">GBP Balance</p>
                                        <h3 class="card-title fs-21 font-weight-bold">{{bal.gbp|intcomma}}</h3>
                                    </div>
                                    <div class="card-footer p-3">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                                <div class="card card-stats statistic-box mb-4">
                                    <div class="card-header card-header-info card-header-icon position-relative border-0 text-right px-3 py-0">
                                        <div class="card-icon d-flex align-items-center justify-content-center">
                                            <i class="typcn typcn-credit-card"></i>
                                        </div>
                                        <p class="card-category text-uppercase fs-10 font-weight-bold text-muted">EUR Balance</p>
                                        <h3 class="card-title fs-21 font-weight-bold">{{bal.eur|intcomma}}</h3>
                                    </div>
                                    <div class="card-footer p-3">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--/.body content-->
                </div><!--/.main content-->
                {% include "admin/footer.html" %}
                <!--/.footer content-->
                <div class="overlay"></div>
            </div><!--/.wrapper-->
        </div>
        <!--Global script(used by all pages)-->
        {% include "admin/foot.html" %}
    </body>
</html>