{% load static %}
{% load humanize %}
<!doctype html>
<html lang="en">
    {% include "admin/head.html" %}
    <body class="fixed">
        <!-- Page Loader -->
        <div class="page-loader-wrapper">
            <div class="loader">
                <div class="preloader">
                    <div class="spinner-layer pl-green">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <p>Please wait...</p>
            </div>
        </div>
        <!-- #END# Page Loader -->
        <div class="wrapper">
            <!-- Sidebar  -->
           {% include "admin/sidebar.html" %}
            <!-- Page Content  -->
            <div class="content-wrapper">
                <div class="main-content">
                    {% include "admin/topbar.html" %}
                    <!--/.navbar-->
                    <div class="body-content">
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-10 col-xl-8">
                                <div class="header p-0 ml-0 mr-0 shadow-none">
                                    <div class="header-body">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h6 class="header-pretitle fs-10 font-weight-bold text-muted text-uppercase mb-1">Payments</h6>
                                                <h1 class="header-title fs-25 font-weight-600">Invoice No: {{detail.trans_ref}}</h1>
                                            </div>
                                            <div class="col-auto">
                                                <a href="#!" class="btn btn-success-soft ml-2"><i class="typcn typcn-edit mr-1"></i>Edit</a>
                                                <a href="#!" class="btn btn-success ml-2"><i class="typcn typcn-printer mr-1"></i>Print Invoice </a>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                                <!--/.End of header-->
                                <div class="card card-body p-5">
                                    <div class="row">
                                        <div class="col text-right">
                                        {% if detail.status == "PAID" %}
                                            <div class="badge badge-success">Paid</div>
                                        {% elif detail.status == "CANCELLED" %}
                                            <div class="badge badge-warning">Cancelled</div>
                                        {% else %}
                                            <div class="badge badge-danger">Overdue</div>
                                        {% endif %}
                                        </div>
                                    </div> 
                                    <div class="row">
                                        <div class="col text-center">
                                            <img src="{% static 'web/assets/dist/img/mini-logo.png'%}" alt="..." class="img-fluid mb-4">
                                            <h4 class="mb-0 font-weight-bold">Invoice from {{inv_owner.first_name}} {{inv_owner.last_name}}</h4>
                                            <p class="text-muted mb-5">Invoice: {{detail.trans_ref}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <h6 class="text-uppercase text-muted fs-12 font-weight-600">Payment Method</h6>
                                            {% if detail.acct_name == "CARD" %}
                                            <p class="text-muted mb-4">
                                                <strong class="text-body fs-16">Card Payment</strong> <br>
                                                URL: {{detail.checkout_url}}
                                            </p>
                                            {% else %}
                                            <p class="text-muted mb-4">
                                                <strong class="text-body fs-16">Do tranfer to below Account</strong> <br>
                                                Account Name: {{detail.acct_name}}<br>
                                                Account No: {{detail.acct_no}}<br>
                                                Bank Name: {{detail.bank_name}}<br>
                                                Bank Code: {{detail.bank_code}}
                                            </p>
                                            {% endif %}
                                        </div>
                                        <div class="col-12 col-md-6 text-md-right">
                                            <h6 class="text-uppercase text-muted fs-12 font-weight-600">Invoiced to</h6>
                                            <p class="text-muted mb-4">
                                                <strong class="text-body fs-16">{{detail.cust_name}}</strong> <br>
                                                Customer Email: {{detail.cus_email}}
                                            </p>
                                            <h6 class="text-uppercase text-muted fs-12 font-weight-600"> Due date</h6>
                                            <p class="mb-4"><time datetime="2018-04-23">{{detail.due_date}}</time></p>
                                        </div>
                                    </div> 
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="table-responsive">
                                                <table class="table my-4">
                                                    <thead>
                                                        <tr>
                                                            <th class="px-0 bg-transparent border-top-0">
                                                                <span class="h6 font-weight-bold">Description</span>
                                                            </th>
                                                            <th class="px-0 bg-transparent border-top-0">
                                                                <span class="h6 font-weight-bold">Price</span>
                                                            </th>
                                                            <th class="px-0 bg-transparent border-top-0 text-right">
                                                                <span class="h6 font-weight-bold">Price</span>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="px-0">
                                                                {{detail.item1}}
                                                            </td>
                                                            <td class="px-0">
                                                                {{detail.price1|intcomma}}
                                                            </td>
                                                            <td class="px-0 text-right">
                                                                {{detail.price1|intcomma}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="px-0">
                                                                {{detail.item2}}
                                                            </td>
                                                            <td class="px-0">
                                                                {{detail.price2|intcomma}}
                                                            </td>
                                                            <td class="px-0 text-right">
                                                                {{detail.price2|intcomma}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="px-0">
                                                                {{detail.item3}}
                                                            </td>
                                                            <td class="px-0">
                                                                {{detail.price3|intcomma}}
                                                            </td>
                                                            <td class="px-0 text-right">
                                                                {{detail.price3|intcomma}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="px-0 border-top border-top-2">
                                                                <strong>Total amount due</strong>
                                                            </td>
                                                            <td colspan="2" class="px-0 text-right border-top border-top-2">
                                                                <span class="fs-16 font-weight-600">
                                                                    {{detail.total|intcomma}}
                                                                </span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <hr class="my-5">
                                            <h6 class="text-uppercase font-weight-bold">Comments </h6>
                                            <p class="text-muted mb-0">
                                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--/.body content-->
                </div><!--/.main content-->
                {% include "admin/footer.html" %}
                <!--/.footer content-->
                <div class="overlay"></div>
            </div><!--/.wrapper-->
        </div>
       {% include "admin/foot.html" %}
    </body>
</html>