{% load static %}
<!doctype html>
<html lang="en">
   {% include "head.html" %}
   <body>
      <!-- loader Start -->
      <div id="loading">
         <div id="loading-center">
         </div>
      </div>
      <!-- loader END -->
      <!-- Wrapper Start -->
      <div class="wrapper">
         <!-- Sidebar  -->
         {% include "sidebar.html" %}
         <!-- TOP Nav Bar -->
         {% include "headtop.html" %}
         <!-- TOP Nav Bar END -->
         <!-- Page Content  -->
         <div id="content-page" class="content-page">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="iq-card">
                        <div class="iq-card-body p-0">
                           <div class="iq-edit-list">
                              <ul class="iq-edit-profile d-flex nav nav-pills">
                                 <li class="col-md-3 p-0">
                                    <a class="nav-link active" data-toggle="pill" href="#personal-information">
                                       Personal Information
                                    </a>
                                 </li>
                                 <li class="col-md-3 p-0">
                                    <a class="nav-link" data-toggle="pill" href="#chang-pwd">
                                       Change Password
                                    </a>
                                 </li>
                                 <li class="col-md-3 p-0">
                                    <a class="nav-link" data-toggle="pill" href="#emailandsms">
                                       Merchant Area
                                    </a>
                                 </li>
                                  <li class="col-md-3 p-0">
                                    <a class="nav-link" data-toggle="pill" href="#manage-contact">
                                       Business Account Number
                                    </a>
                                 </li>
                                 <li class="col-md-3 p-0">
                                    <a class="nav-link" data-toggle="pill" href="#manage-api">
                                       API
                                    </a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                   {% for message in messages %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>Warning - </strong> {{ message }}
                                    </div>
                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>Success - </strong> {{ message }}
                                    </div>
                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>Error - </strong> {{ message }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                  <div class="col-lg-12">
                     <div class="iq-edit-list-data">
                        <div class="tab-content">
                           <div class="tab-pane fade active show" id="personal-information" role="tabpanel">
                               <div class="iq-card">
                                 <div class="iq-card-header d-flex justify-content-between">
                                    <div class="iq-header-title">
                                       <h4 class="card-title">Personal Information</h4>
                                    </div>
                                 </div>
                                 <div class="iq-card-body">
                                    <form>
                                       <div class=" row align-items-center">
                                          <div class="form-group col-sm-6">
                                             <label for="fname">First Name:</label>
                                             <input type="text" value="{{user.first_name}}" readonly class="form-control" id="fname">
                                          </div>
                                          <div class="form-group col-sm-6">
                                             <label for="lname">Last Name:</label>
                                             <input type="text" value="{{user.last_name}}" readonly class="form-control" id="lname">
                                          </div>
                                          <div class="form-group col-sm-6">
                                             <label for="uname">Email:</label>
                                             <input type="text" value="{{user.last_name}}" readonly class="form-control" id="uname">
                                          </div>
                                          <div class="form-group col-sm-6">
                                             <label for="cname">Phone:</label>
                                             <input type="text" value="{{user.phone}}" readonly class="form-control" id="cname">
                                          </div>
                                          <div class="form-group col-sm-6">
                                             <label for="dob">Date Register</label>
                                             <input  class="form-control" id="dob" value="{{user.date_registered}}" readonly>
                                          </div>
                                       </div>
                                    </form>
                                 </div>
                              </div>
                           </div>
                           <div class="tab-pane fade" id="chang-pwd" role="tabpanel">
                               <div class="iq-card">
                                 <div class="iq-card-header d-flex justify-content-between">
                                    <div class="iq-header-title">
                                       <h4 class="card-title">Change Password</h4>
                                    </div>
                                 </div>
                                 <div class="iq-card-body">
                                    <form method="post" action="/password_change/">
                                       {% csrf_token %}
                                       <div class="form-group">
                                          <label for="cpass">Current Password:</label>
                                          <a href="javascripe:void();" class="float-right">Forgot Password</a>
                                             <input type="Password" name="old_password" class="form-control" id="cpass" value="">
                                          </div>
                                       <div class="form-group">
                                          <label for="npass">New Password:</label>
                                          <input type="Password" name="new_password1" class="form-control" id="npass" value="">
                                       </div>
                                       <div class="form-group">
                                          <label for="vpass">Verify Password:</label>
                                             <input type="Password" name="new_password2" class="form-control" id="vpass" value="">
                                       </div>
                                       {% for field in form %}
                                          {% for error in field.errors %}
                                             <p style="color: red">{{ error }}</p>
                                          {% endfor %}
                                       {% endfor %}
                                       <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                    </form>
                                 </div>
                              </div>
                           </div>
                           <div class="tab-pane fade" id="emailandsms" role="tabpanel">
                               <div class="iq-card">
                                 <div class="iq-card-header d-flex justify-content-between">
                                    <div class="iq-header-title">
                                       <h4 class="card-title">Merchant Information</h4>
                                    </div>
                                 </div>
                                 <div class="iq-card-body">
                                    <div> Coming Soon </div>
                                 </div>
                              </div>
                           </div>
                           <div class="tab-pane fade" id="manage-contact" role="tabpanel">
                               <div class="iq-card">
                                 <div class="iq-card-header d-flex justify-content-between">
                                    <div class="iq-header-title">
                                       <h4 class="card-title">Add Account Number</h4>
                                    </div>
                                 </div>
                                 <div class="iq-card-body">
                                    <form method="POST" id="post-form">
                                       {% csrf_token %}
                                       <div class="form-group">
                                          <label for="cno">Account Number:</label>
                                          <input type="number" name="acct_no" class="form-control" id="acct_no" value="{{bnk_act.account_no}}">
                                       </div>
                                       <div class="form-group">
                                          <label for="email">Banks:</label>
                                          <select class="form-control" id="ubank" name="ubank">
                                             <option>Select Bank</option>
                                             {% for banks in bank %}
                                                <option value="{{banks.code}}">{{banks.name}}</option>
                                             {% endfor %}
                                          </select>
                                       </div>
                                       <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                       <button type="reset" class="btn iq-bg-danger">Cancle</button>
                                    </form>
                                 </div>
                              </div>
                           </div>
                           <div class="tab-pane fade" id="manage-api" role="tabpanel">
                               <div class="iq-card">
                                 <div class="iq-card-header d-flex justify-content-between">
                                    <div class="iq-header-title">
                                       <h4 class="card-title">Business API</h4>
                                    </div>
                                 </div>
                                 <div class="iq-card-body">
                                    <form method="POST" id="post-form">
                                       {% csrf_token %}
                                       <div class="form-group">
                                          <label for="cno">Account Number:</label>
                                          <input type="number" name="acct_no" class="form-control" id="acct_no" value="{{bnk_act.account_no}}">
                                       </div>
                                       <div class="form-group">
                                          <label for="email">Banks:</label>
                                          <select class="form-control" id="ubank" name="ubank">
                                             <option>Select Bank</option>
                                             {% for banks in bank %}
                                                <option value="{{banks.code}}">{{banks.name}}</option>
                                             {% endfor %}
                                          </select>
                                       </div>
                                       <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                       <button type="reset" class="btn iq-bg-danger">Cancle</button>
                                    </form>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script src="{% static 'js/jquery-2.2.4.min.js'%}"></script>
      <script src="{% static 'js/sweetalert.min.js'%}"></script>
      <script type="text/javascript">
            $(document).on('submit', '#post-form',function(e){
                e.preventDefault();
                $.ajax({
                type:'POST',
                url:'/user/add_account',
                data:{
                    acct_no:$('#acct_no').val(),
                    ubank:$('#ubank').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                    },
                    success:function(){
                        document.getElementById("post-form").reset();
                       swal("Updated!", "Successfully", "success");
                    },
                    error : function(data) {
                            document.getElementById("post-form").reset();
                            swal("Error!!", "Please Try again", "error");
                        }
                    });
                });
      </script>
      <!-- Wrapper END -->
      <!-- Footer -->
      {% include "footer.html" %}
      <!-- Footer END -->
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      {% include "foot.html" %}
   </body>
</html>