{% load humanize %}
{% load static %}
<!doctype html>
<html lang="en">
{% include "head.html" %}
<body>
	<!-- loader Start -->
	<div id="loading">
         <div id="loading-center">
         </div>
      </div>
	<!-- loader END -->
	<!-- Wrapper Start -->
	<div class="wrapper">
		<!-- Sidebar  -->
		{% include "sidebar.html" %}
		<!-- TOP Nav Bar -->
		{% include "headtop.html" %}
		<!-- TOP Nav Bar END -->
		<!-- Page Content  -->
		<div id="content-page" class="content-page">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12">
						<div class="iq-card">
							<div class="iq-card-header d-flex justify-content-between">
								<div class="iq-header-title">
									<h4 class="card-title">All Invoice</h4>
								</div>
								<script src="{% static 'js/jquery-2.2.4.min.js'%}"></script>
								<script src="{% static 'js/sweetalert.min.js'%}"></script>
								{% for message in messages %}
								{% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
								<script>
									swal("Transaction!", "{{message}}", "warning");
								</script>
								{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
								<script>
									swal("Transaction!", "{{message}}", "success");
								</script>
								{% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
								<script>
									swal("Transaction!", "{{message}}", "error");
								</script>
								{% endif %}
								{% endfor %}
							</div>
							<div class="iq-card-body">
								<div class="table-responsive">
									<table id="user-list-table" class="table table-striped table-bordered mt-4" role="grid" aria-describedby="user-list-page-info">
										<thead>
											<tr>
												<th>Due Date</th>
												<th>Desc</th>
												<th>Txn Ref</th>
												<th>Amount</th>
												<th>Status</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											{% for data in show %}
											<tr>
												<td>{{data.due_date}}</td>
												<td>{{data.desc}}</td>
												<td>{{data.trans_ref}}</td>
												<td>₦ {{data.total|intcomma}}</td>
												<td><span class="badge iq-bg-primary">{{data.status}}</span></td>
												<td>
													<div class="flex align-items-center list-user-action">
														<a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print Invoice" href="/user/print_invoice/{{data.id}}"><i class="ri-printer-line"></i></a>
														<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".c{{data.trans_ref}}">Cancel</button>
														<div class="modal fade c{{data.trans_ref}}" tabindex="-1" role="dialog"  aria-hidden="true">
															<div class="modal-dialog modal-sm">
																<div class="modal-content">
																	<div class="modal-header">
																		<h5 class="modal-title">Cancle Invoice</h5>
																		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																			<span aria-hidden="true">&times;</span>
																		</button>
																	</div>
																	<div class="modal-body">
																		<p>Did you want to cancle this Invoice with<br> TnxRef <b>{{data.trans_ref}}</b></p>
																	</div>
																	<div class="modal-footer">
																		<button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
																		<form method="POST" action="/user/cancel_invoice" id="post-form">
																			{% csrf_token %}
																			<input type="hidden" name="ref" id="ref" value="{{data.trans_ref}}">
																			<button type="submit" class="btn btn-primary">Yes</button>
																		</form>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
								<div class="row justify-content-between mt-3">
									<div id="user-list-page-info" class="col-md-6">
										
									</div>
									<div class="col-md-6">
										<nav aria-label="Page navigation example">
											<ul class="pagination justify-content-end mb-0">
												{% if show.has_previous %}
												<li class="page-item">
													<a class="page-link" href="?page={{ show.previous_page_number }}" aria-disabled="true">Previous</a>
												</li>
												<li class="page-item">
													<a class="page-link" href="?page={{ show.previous_page_number }}">{{ show.previous_page_number }}</a>
												</li>
												{% endif %}
												<li class="page-item active"><a class="page-link" href="#">{{ show.number }}</a></li>
												{% if show.has_next %}
												<li class="page-item"><a class="page-link" href="?page={{ show.next_page_number }}">{{ show.next_page_number }}</a></li>
												{% endif %}
												<li class="page-item">
													<a class="page-link" href="?page={{ show.paginator.num_pages }}">Next</a>
												</li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Wrapper END -->
	<!-- Footer -->
	{% include "footer.html" %}
	<!-- Footer END -->
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	{% include "foot.html" %}
</body>
</html>