{% load humanize %}
{% load static %}
<!doctype html>
<html lang="en">
   {% include "head.html" %}
   <body class="sidebar-main-active right-column-fixed">
      <!-- loader Start -->
      <div id="loading">
         <div id="loading-center">
         </div>
      </div>
      <!-- loader END -->
      <!-- Wrapper Start -->
      <div class="wrapper">
         <!-- Sidebar  -->
         {% include "sidebar.html" %}
         <!-- TOP Nav Bar -->
         {% include "headtop.html" %}
         <!-- TOP Nav Bar END -->
         <!-- Page Content  -->
         <div id="content-page" class="content-page">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-sm-6 col-md-6 col-lg-3">
                     <div class="iq-card">
                        <div class="iq-card-body">
                           <div class="d-flex align-items-center justify-content-between">
                              <h6>Naira Balance</h6>
                           </div>
                           <div class="iq-customer-box d-flex align-items-center justify-content-between mt-3">
                              <div class="d-flex align-items-center">
                                 <h2>₦ {{bal.bal|intcomma}}</h2>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-3">
                     <div class="iq-card">
                        <div class="iq-card-body">
                           <div class="d-flex align-items-center justify-content-between">
                              <h6>USD Balance</h6>
                           </div>
                           <div class="iq-customer-box d-flex align-items-center justify-content-between mt-3">
                              <div class="d-flex align-items-center">
                                 <h2>$ {{bal.usd|intcomma}}</h2>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-3">
                     <div class="iq-card">
                        <div class="iq-card-body">
                           <div class="d-flex align-items-center justify-content-between">
                              <h6>EUR Balance</h6>
                           </div>
                           <div class="iq-customer-box d-flex align-items-center justify-content-between mt-3">
                              <div class="d-flex align-items-center">
                                 <h2>€ {{bal.eur|intcomma}}</h2>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-3">
                     <div class="iq-card">
                        <div class="iq-card-body">
                           <div class="d-flex align-items-center justify-content-between">
                              <h6>GBP Balance</h6>
                           </div>
                           <div class="iq-customer-box d-flex align-items-center justify-content-between mt-3">
                              <div class="d-flex align-items-center">
                                 <h2>£ {{bal.gbp}}</h2></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-8">
                     <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                           <div class="iq-header-title">
                              <h4 class="card-title">Recent Transactions</h4>
                           </div>
                        </div>
                        <div class="iq-card-body">
                           <div class="table-responsive">
                              <table class="table mb-0 table-borderless">
                                 <thead>
                                    <tr>
                                       <th scope="col">Date</th>
                                       <th scope="col">Description</th>
                                       <th scope="col">Amount</th>
                                       <th scope="col">Status</th>

                                    </tr>
                                 </thead>
                                 <tbody>
                                  {% for data in show %}
                                    <tr>
                                       <td>{{data.payment_date}}</td>
                                       <td>{{data.payment_desc}}</td>
                                       <td>{{data.cur}} {{data.amount|intcomma}}</td>
                                       <td><div class="badge badge-pill badge-success">{{data.payment_status}}</div></td>
                                    </tr>
                                 {% endfor %}
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
                  {% if user.acct_type == 2 %}
                  <div class="col-lg-4">
                     <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                           <div class="iq-header-title">
                              <h4 class="card-title">Previous Invoice History</h4>
                           </div>
                        </div>
                     <div class="iq-card-body">
                        <ul class="suggestions-lists m-0 p-0">
                          {% for i in inv %}
                           <li class="d-flex mb-4 align-items-center">
                              <div class="profile-icon bg-secondary"><span><i class="ri-refresh-line"></i></span></div>
                              <div class="media-support-info ml-3">
                                 <h6>{{i.trans_ref}}</h6>
                                 <p class="mb-0">{{i.due_date}}</p>
                              </div>
                              <div class="media-support-amount ml-3">
                                 <h6 class="text-info">{{i.status}}</h6>
                                 <p class="mb-0">₦ {{i.total|intcomma}}</p>
                              </div>
                           </li>
                           {% endfor %}
                        </ul>
                     </div>
                  </div>

                  </div>
                  {% else %}
                  {% endif %}
               </div>

            </div>
         </div>

         <div class="iq-right-fixed">
            <div class="iq-card">
               <div id="home-chart-04"></div>

            </div>
            <div class="iq-card">
               <div class="iq-card-header d-flex justify-content-between">
                  <div class="iq-header-title">
                     <h4 class="card-title">Account Details</h4>
                  </div>
               </div>
                <div class="iq-card-body pb-3">
                  <ul class="suggestions-lists m-0 p-0">
                     <li class="d-flex mb-4 align-items-center">
                        <div class="profile-icon iq-bg-success"><span>A</span></div>
                        <div class="media-support-info ml-3">
                           <h6>Account Name</h6>
                           <p class="mb-0">{{user.acct_name}}</p>
                        </div>
                     </li>
                     <li class="d-flex mb-4 align-items-center">
                        <div class="profile-icon iq-bg-success"><span>N</span></div>
                        <div class="media-support-info ml-3">
                           <h6>Account Number</h6>
                           <p class="mb-0">{{user.acct_no}}</p>
                        </div>
                     </li>
                     <li class="d-flex align-items-center">
                        <div class="profile-icon iq-bg-success"><span>B</span></div>
                        <div class="media-support-info ml-3">
                           <h6>Bank Name</h6>
                           <p class="mb-0">{{user.bank_name}}</p>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="iq-card wow fadeInUp" data-wow-delay="0.8s">
               <div class="iq-card-header d-flex justify-content-between">
                  <div class="iq-header-title">
                     <h4 class="card-title">Recent Withdraw</h4>
                  </div>
               </div>
               <div class="iq-card-body">
                        <ul class="suggestions-lists m-0 p-0">
                          {% for d in recent_withdraw %}
                           <li class="d-flex mb-4 align-items-center">
                              <div class="profile-icon bg-secondary"><span><i class="ri-refresh-line"></i></span></div>
                              <div class="media-support-info ml-3">
                                 <h6>{{d.payment_ref}}</h6>
                                 <p class="mb-0">{{d.payment_date}}</p>
                              </div>
                              <div class="media-support-amount ml-3">
                                 <h6 class="text-info">{{d.payment_status}}</h6>
                                 <p class="mb-0">{{d.cur}} {{d.amount|intcomma}}</p>
                              </div>
                           </li>
                           {% endfor %}
                        </ul>
                     </div>
            </div>
         </div>

      <!-- Wrapper END -->
      <!-- Footer -->
      {% include "footer.html" %}
      <!-- Footer END -->
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      {% include "foot.html" %}

   </body>
</html>
