{% load static %}
<!doctype html>
<html lang="en">
   {% include "head.html" %}
   <body>
      <!-- loader Start -->
      <div id="loading">
         <div id="loading-center">
         </div>
      </div>
      <!-- loader END -->
      <!-- Wrapper Start -->
      <div class="wrapper">
         <!-- Sidebar  -->
         {% include "sidebar.html" %}
         <!-- TOP Nav Bar -->
         {% include "headtop.html" %}
         <!-- TOP Nav Bar END -->
         <!-- Page Content  -->
         <div id="content-page" class="content-page">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-sm-12 col-lg-12">
                     <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                        </div>
                        <div class="iq-card-body">
                         <form class="text-center mt-4" method="POST" id="post-form">
                           {% csrf_token %}
                             <!-- fieldsets -->
                             <fieldset>
                                 <div class="form-card text-left">
                                     <div class="row">
                                         <div class="col-7">
                                             <h3 class="mb-4"> Buy Data</h3>
                                         </div>
                                     </div>
                                     <div class="row">
                                          <div class="col-md-6">
                                           <div class="form-group">
                                              <label>Network: *</label>
                                              <select class="form-control" id="d_pack" name="d_pack" required>
                                                <option>Select Network</option>
                                                <option value="mtn-data">MTN Data</option>
                                                <option value="glo-data">GLO Data</option>
                                                <option value="airtel-data">AIRTEL Data</option>
                                                <option value="etisalat-data">9MOBILE Data</option>
                                              </select>
                                            </div>
                                          </div>
                                          <div class="col-md-6">
                                           <div class="form-group">
                                              <label>Select Package: *</label>
                                              <select class="form-control" id="sel_pack" name="sel_pack" required>
                                                <option>Select Package</option>
                                              </select>
                                            </div>
                                          </div>
                                          <div class="col-md-6">
                                            <div class="form-group">
                                              <label>Mobile number: *</label>
                                              <input type="number" class="form-control" id="m_no" name="m_no" placeholder="Enter Reciepient Number" required />
                                             </div>
                                          </div>
                                    </div>
                                 </div>
                                 <button type="submit" class="btn btn-primary next action-button float-right" >Buy Data</button>
                         </form>
                           </div>
                        </div>
                     </div>

               </div>
            </div>
         </div>
      </div>
      <script src="{% static 'js/jquery-2.2.4.min.js'%}"></script>
      <script src="{% static 'js/sweetalert.min.js'%}"></script>
      <script type="text/javascript">
            $(document).on('submit', '#post-form',function(e){
                e.preventDefault();
                $.ajax({
                type:'POST',
                url:'/user/data_confirm',
                data:{
                    d_pack:$('#d_pack').val(),
                    sel_pack:$('#sel_pack').val(),
                    m_no:$('#m_no').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                    },
                    success:function(){
                        document.getElementById("post-form").reset();
                       swal("Transaction!", "Successful", "success");
                    },
                    error : function(data) {
                            document.getElementById("post-form").reset();
                            swal("Error!!", "Please Try again", "error");
                        }
                    });
                });
      </script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#d_pack").change(function(){
                var d_pack = $(this).val();
                $.ajax({
                    url: '/user/mobile_data',
                    type: 'post',
                    data: {
                       d_pack:d_pack,
                       csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                       },
                    dataType: 'json',
                    success:function(response){
                        var len = response.length;
                        $("#sel_pack").empty();
                        for( var i = 0; i<len; i++){
                            var name = response[i]['fields']['name'];
                            var variation_code = response[i]['fields']['variation_code'];
                            $("#sel_pack").append("<option value='"+variation_code+"'>"+name+"</option>");
                        }
                    }
                });
            });
        });
    </script>
      <!-- Wrapper END -->
      <!-- Footer -->
      {% include "footer.html" %}
      <!-- Footer END -->
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
     {% include "foot.html" %}
   </body>
</html>