{% load static %}
<!doctype html>
<html lang="en">
{% include "head.html" %}
<body>
  <!-- loader Start -->
  <div id="loading">
         <div id="loading-center">
         </div>
      </div>
 <!-- loader END -->
 <!-- Wrapper Start -->
 <div class="wrapper">
   <!-- Sidebar  -->
   {% include "sidebar.html" %}
   <!-- TOP Nav Bar -->
   {% include "headtop.html" %}
   <!-- TOP Nav Bar END -->
   <!-- Page Content  -->
   <div id="content-page" class="content-page">
    <div class="container-fluid">
     <div class="row">
      <div class="col-sm-12 col-lg-12">
       <div class="iq-card">
        <div class="iq-card-header d-flex justify-content-between">
        </div>
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong>Warning - </strong> {{ message }}
        </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong>Success - </strong> {{ message }}
        </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong>Error - </strong> {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        <div class="iq-card-body">
          {% if status_code %}
          <form id="post-form" class="text-center mt-4" method="POST">
            {% csrf_token %}
            <fieldset>
             <div class="form-card text-left">
               <div class="row">
                 <div class="col-7">
                   <h3 class="mb-4">Customer Details</h3>
                 </div>
                 <div class="col-7">
                   <h3 class="mb-4">{{cus_name}}</h3>
                 </div>
               </div>
               <div class="row">
                 <div class="col-md-6">
                   <div class="form-group">
                    <label>TV Packages: *</label>
                    <select class="form-control" id="variation_code" name="variation_code">
                      <option>Select Type</option>
                      {% for data in show %}
                      <option value="{{data.variation_code}}">{{data.name}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Card No: *</label>
                    <input type="number" class="form-control" value={{sno}} id="sno" name="sno" readonly />
                  </div>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary next action-button float-right" >Pay Now</button>
          </fieldset>
        </form>
        {% else %}
        <form id="form-wizard1" class="text-center mt-4" method="POST" action="/user/tv">
          {% csrf_token %}
          <!-- fieldsets -->
          <fieldset>
           <div class="form-card text-left">
             <div class="row">
               <div class="col-7">
                 <h3 class="mb-4">DSTV Subscription</h3>
               </div>
             </div>
             <div class="row">
               <div class="col-md-6">
                 <div class="form-group">
                  <label>Utility Type: *</label>
                  <select class="form-control" name="biller" required>
                    <option>Select Type</option>
                    <option value="dstv">DSTV Subscription</option>
                    <option value="gotv">GOTV Subscription</option>
                    <option value="startimes">Startime Subscription</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Card No: *</label>
                  <input type="number" class="form-control" name="sno" placeholder="Smart Card Number" required />
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary next action-button float-right" >Next</button>
        </fieldset>
      </form>
      {% endif %}
    </div>
  </div>
</div>

</div>
</div>
</div>
</div>
<script src="{% static 'js/jquery-2.2.4.min.js'%}"></script>
<script src="{% static 'js/sweetalert.min.js'%}"></script>
<script type="text/javascript">
 $(document).on('submit', '#post-form',function(e){
  e.preventDefault();
  $.ajax({
   type:'POST',
   url:'/user/tv_wallet_pay',
   data:{
    variation_code:$('#variation_code').val(),
    sno:$('#sno').val(),
    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
  },
  success:function(){
     swal({
          title: "Thank You!",
          text: "Transaction Successful!",
          icon: "success",
          type: "success"
        }).then(function() {
          window.location = "tv";
        });
  },
  error : function(data) {
    document.getElementById("post-form").reset();
    swal("Error!!", "Please Try again", "error");
  }
});
});
</script>
<!-- Wrapper END -->
<!-- Footer -->
{% include "footer.html" %}
<!-- Footer END -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{% include "foot.html" %}
</body>
</html>