{% load static %}
    <script src="{% static 'js/jquery.min.js'%}"></script>
      <script src="{% static 'js/popper.min.js'%}"></script>
      <script src="{% static 'js/bootstrap.min.js'%}"></script>
      <!-- Appear JavaScript -->
      <script src="{% static 'js/jquery.appear.js'%}"></script>
      <!-- Countdown JavaScript -->
      <script src="{% static 'js/countdown.min.js'%}"></script>
      <!-- Counterup JavaScript -->
      <script src="{% static 'js/waypoints.min.js'%}"></script>
      <script src="{% static 'js/jquery.counterup.min.js'%}"></script>
      <!-- Wow JavaScript -->
      <script src="{% static 'js/wow.min.js'%}"></script>
      <!-- Apexcharts JavaScript -->
      <script src="{% static 'js/apexcharts.js'%}"></script>
      <!-- Slick JavaScript -->
      <script src="{% static 'js/slick.min.js'%}"></script>
      <!-- Select2 JavaScript -->
      <script src="{% static 'js/select2.min.js'%}"></script>
      <!-- Owl Carousel JavaScript -->
      <script src="{% static 'js/owl.carousel.min.js'%}"></script>
      <!-- Magnific Popup JavaScript -->
      <script src="{% static 'js/jquery.magnific-popup.min.js'%}"></script>
      <!-- Smooth Scrollbar JavaScript -->
      <script src="{% static 'js/smooth-scrollbar.js'%}"></script>
      <!-- Chart Custom JavaScript -->
      <script src="{% static 'js/chart-custom.js'%}"></script>
      <!-- Custom JavaScript -->
        <script src="{% static 'js/custom.js'%}"></script>
        <!-- lottie JavaScript -->
      <script src="{% static 'js/lottie.js'%}"></script>
      <!-- am core JavaScript -->
      <script src="{% static 'js/core.js'%}"></script>
      <script src="{% static 'js/charts.js'%}"></script>
      <!-- am animated JavaScript -->
      <script src="{% static 'js/animated.js'%}"></script>
      <!-- am kelly JavaScript -->
      <script src="{% static 'js/kelly.js'%}"></script>
      <!-- am maps JavaScript -->
      <script src="{% static 'js/maps.js'%}"></script>
      <!-- am worldLow JavaScript -->
      <script src="{% static 'js/worldLow.js'%}"></script>
      <script data-cfasync="false" src="{% static 'cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js'%}">
      </script><script src="{% static 'js/jquery.min.js'%}"></script>