{% load static %}
<head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>PayFlat - Send & Receive Money, Bill Payment</title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="{% static 'images/favicon.ico'%}" />
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
      <!-- Typography CSS -->
      <link rel="stylesheet" href="{% static 'css/typography.css'%}">
      <!-- Style CSS -->
      <link rel="stylesheet" href="{% static 'css/style.css'%}">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="{% static 'css/responsive.css'%}">
   </head>