<!doctype html>
<html lang="en">
      {% include "head.html" %}
   <body>
      <!-- loader Start -->
      <div id="loading">
         <div id="loading-center">
         </div>
      </div>
      <!-- loader END -->
      <!-- Wrapper Start -->
      <div class="wrapper">
      <!-- Sidebar  -->
         {% include "sidebar.html" %}
      <!-- TOP Nav Bar -->
         {% include "headtop.html" %}
      <!-- TOP Nav Bar END -->
      <!-- Page Content  -->
   <div id="content-page" class="content-page">
      <div class="container-fluid">
         <div class="row">
            <div class="col-lg-9">
                  <div class="iq-card">
                     <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                           <h4 class="card-title">New User Information</h4>
                        </div>
                     </div>
                     <div class="iq-card-body">
                        <div class="new-user-info">
                           <form method="post" action="/user/create_invoice">
                              {% csrf_token %}
                              <div class="row">
                                 <div class="form-group col-md-6">
                                    <label for="fname">Item #1:</label>
                                    <input type="text" name="item1" class="form-control" id="fname" placeholder="Item #1">
                                 </div>
                                 <div class="form-group col-md-6">
                                    <label for="lname">Price #1:</label>
                                    <input type="number" step="any" name="price1" value="0" class="form-control" id="lname" placeholder="Price #1">
                                 </div>
                                 <div class="form-group col-md-6">
                                    <label for="lname">Item #2:</label>
                                    <input type="text" name="item2" class="form-control" id="lname" placeholder="Item #2">
                                 </div>
                                 <div class="form-group col-md-6">
                                    <label for="add1">Price #2:</label>
                                    <input type="number" name="price2" step="any" value="0" class="form-control" id="add1" placeholder="Price #2">
                                 </div>
                                 <div class="form-group col-md-6">
                                    <label for="add2">Item #3:</label>
                                    <input type="text" name="item3" class="form-control" id="add2" placeholder="Item #3">
                                 </div>
                                 <div class="form-group col-md-6">
                                    <label for="add2">Price #3:</label>
                                    <input type="number" name="price3" step="any" value="0" class="form-control" id="add2" placeholder="Price #3">
                                 </div>
                                 <div class="form-group col-md-12">
                                    <label for="cname">Description</label>
                                    <input type="text" name="desc" class="form-control" id="cname" placeholder="Invoice Description">
                                 </div>
                                 <div class="form-group col-md-6">
                                    <label for="add2">Due Date</label>
                                    <input type="date" name="date" class="form-control" id="add2" >
                                 </div>
                                 <div class="form-group col-md-6">
                                    <label for="add2">Due Time</label>
                                    <input type="time" name="time" class="form-control" id="add2">
                                 </div>
                                 <div class="form-group col-sm-12">
                                    <label>Payment Type:</label>
                                    <select class="form-control" id="selectcountry" name="p_type">
                                       <option>Select Payment Type</option>
                                       <option value="CARD">CARD</option>
                                       <option value="ACCOUNT_TRANSFER">ACCOUNT TRANSFER</option>
                                    </select>
                                 </div>
                                 <div class="form-group col-md-6">
                                    <label for="mobno">Customer Name:</label>
                                    <input type="text" name="c_name" class="form-control" id="mobno" placeholder="Customer Name">
                                 </div>
                                 <div class="form-group col-md-6">
                                    <label for="altconno">Customer Email:</label>
                                    <input type="text" name="c_email" class="form-control" id="altconno" placeholder="Customer Email">
                                 </div>
                              </div>
                              <hr>
                              <button type="submit" class="btn btn-primary">Create Invoice</button>
                           </form>
                        </div>
                     </div>
                  </div>
            </div>
         </div>
      </div>
   </div>
   </div>
   <!-- Wrapper END -->
    <!-- Footer -->
      {% include "footer.html" %}
      <!-- Footer END -->
    <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      {% include "foot.html" %}
</body>
</html>