{% load humanize %}
<!doctype html>
<html lang="en">
     {% include "head.html" %}
   <body>
      <!-- loader Start -->
      <div id="loading">
         <div id="loading-center">
         </div>
      </div>
      <!-- loader END -->
      <!-- Wrapper Start -->
      <div class="wrapper">
      <!-- Sidebar  -->
         {% include "sidebar.html" %}
      <!-- TOP Nav Bar -->
         {% include "headtop.html" %}
      <!-- TOP Nav Bar END -->
            <!-- Page Content  -->
            <div id="content-page" class="content-page">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="iq-card">

                     <div class="iq-card-body" id="printableArea">

                        <div class="row" >
                                        <div class="col-lg-6">
                                            <img src="images/logo.gif" class="img-fluid" alt="">
                                        </div>
                                        <div class="col-lg-6 align-self-center">
                                            <h4 class="mb-0 float-right">Invoice</h4>
                                        </div>
                                        <div class="col-sm-12">
                                            <hr class="mt-3">
                                            <h5 class="mb-0">Hello, {{c_name}}</h5>
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="table-responsive-sm">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Due Date</th>
                                                            <th scope="col">Status</th>
                                                            <th scope="col">Invoice ID</th>
                                                            <th scope="col">Payment Method</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>{{final_date}}</td>
                                                            <td><span class="badge badge-danger">Unpaid</span></td>
                                                            <td>{{txt_id}}</td>
                                                            <td><span class="badge badge-success">{{p_type}}</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h5>Invoice Summary</h5>
                                            <div class="table-responsive-sm">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Item</th>
                                                            <th class="text-center" scope="col">Price</th>
                                                            <th class="text-center" scope="col">Totals</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <p class="mb-0">{{item1}}</p>
                                                            </td>
                                                            <td class="text-center">₦ {{price1|intcomma}}</td>
                                                            <td class="text-center"><b>₦ {{price1|intcomma}}</b></td>
                                                        </tr>
                                                        <tr>
                                                            
                                                            <td>
                                                                <p class="mb-0">{{item2}}</p>
                                                            </td>
                                                            
                                                            <td class="text-center">₦ {{price2|intcomma}}</td>
                                                            <td class="text-center"><b>₦ {{price2|intcomma}}</b></td>
                                                        </tr>
                                                        <tr>
                                                            
                                                            <td>
                                                                <p class="mb-0">{{item3}}</p>
                                                            </td>
                                                            
                                                            <td class="text-center">₦ {{price3|intcomma}}</td>
                                                            <td class="text-center"><b>₦ {{price3|intcomma}}</b></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <h5 class="mt-5">Order Details</h5>
                                            <div class="table-responsive-sm">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Bank</th>
                                                            <th scope="col">Acc.No</th>
                                                            <th scope="col">Acc. Name</th>
                                                            <th scope="col">Charges</th>
                                                            <th scope="col">Total</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">{{bank_name}}</th>
                                                            <td>{{acct_no}}</td>
                                                            <td>{{acct_name}}</td>
                                                            <td>₦ 0.00</td>
                                                            <td><b>₦ {{total|intcomma}}</b></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-sm-6"></div>
                                        <div class="col-sm-6 text-right">
                                            <a href="{{checkoutUrl}}" target="_blank"><button type="button" class="btn btn-link mr-3"><i class="ri-printer-line"></i> Pay with link</button></a>
                                            <button type="button" onclick="printDiv('printableArea')" class="btn btn-primary">Print</button>
                                        </div>
                                        <div class="col-sm-12 mt-5">
                                            <b class="text-danger">Notes:</b>
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                                        </div>
                                    </div>

                     </div>
                  </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function printDiv(divName) {
                var printContents = document.getElementById(divName).innerHTML;
                var originalContents = document.body.innerHTML;

                document.body.innerHTML = printContents;

                window.print();

                document.body.innerHTML = originalContents;
                }
        </script>       
        <!-- Wrapper END -->
      <!-- Footer -->
      {% include "footer.html" %}
      <!-- Footer END -->
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      {% include "foot.html" %}
   </body>
</html>