{% load static %}
<!doctype html>
<html lang="en">
    {% include "head.html" %}
    <body>
        <!-- loader Start -->
        <div id="loading">
         <div id="loading-center">
         </div>
      </div>
        <!-- loader END -->
        <!-- Wrapper Start -->
        <div class="wrapper">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-sm-12 text-center">
                        <div class="iq-error error-500">
                            <img src="{% static 'images/error/03.png'%}" class="img-fluid iq-error-img" alt="">
                            <h2 class="mb-0">Oops! This Page is Not Working.</h2>
                            <p>The requested is Internal Server Error.</p>
                            <a class="btn btn-primary mt-3" href="index.html"><i class="ri-home-4-line"></i>Back to Home</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Wrapper END -->
        <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      {% include "foot.html" %}
    </body>
</html>