{% load static %}
<!doctype html>
<html lang="en">
{% include "head.html" %}
<body>
  <!-- loader Start -->
  <div id="loading">
   <div id="loading-center">
   </div>
 </div>
 <!-- loader END -->
 <!-- Sign in Start -->
 <section class="sign-in-page">
  <div class="container bg-white mt-5 p-0">
    <div class="row no-gutters">
      <div class="col-sm-6 align-self-center">
        <div class="sign-in-from">
          <h1 class="mb-0">Sign in</h1>
          {% for message in messages %}
          {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>Warning - </strong> {{ message }}
          </div>
          {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
          <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>Success - </strong> {{ message }}
          </div>
          {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
          <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>Error - </strong> {{ message }}
          </div>
          {% endif %}
          {% endfor %}
          <p>Enter your email address and password to access your account.</p>
          <form class="mt-4" method="post" action="/user/signin">
            {% csrf_token %}
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" name="email" class="form-control mb-0" id="exampleInputEmail1" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <a href="/password_reset" class="float-right">Forgot password?</a>
              <input type="password" name="password" class="form-control mb-0" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="d-inline-block w-100">
              <div class="custom-control custom-checkbox d-inline-block mt-2 pt-1">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember Me</label>
              </div>
              <input type="hidden" value="{% if request.REQUEST.next %}{{ request.REQUEST.next }}{% else %}{% if request.META.HTTP_REFERER %}{{ request.META.HTTP_REFERER }}{% else %}/{% endif %}{% endif %}" name="next" />
              <button type="submit" class="btn btn-primary float-right">Sign in</button>
            </div>
            <div class="sign-info">
              <span class="dark-color d-inline-block line-height-2">Don't have an account? <a href="/user/signup">Sign up</a></span>
              <ul class="iq-social-media">
                <li><a href="#"><i class="ri-facebook-box-line"></i></a></li>
                <li><a href="#"><i class="ri-twitter-line"></i></a></li>
                <li><a href="#"><i class="ri-instagram-line"></i></a></li>
              </ul>
            </div>
          </form>
        </div>
      </div>
      <div class="col-sm-6 text-center">
        <div class="sign-in-detail text-white">
          <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="false" data-dots="true" data-items="1" data-items-laptop="1" data-items-tab="1" data-items-mobile="1" data-items-mobile-sm="1" data-margin="0">
            <div class="item">
              <img src="{% static 'images/login/1.png'%}" class="img-fluid mb-4" alt="logo">
              <h4 class="mb-1 text-white">Payment made easy</h4>
              <p>You won't get credit for everything you do. Be fine with paying your bills with relative ease, you did it because it needed to be done.</p>
            </div>
            <div class="item">
              <img src="{% static 'images/login/1.png'%}" class="img-fluid mb-4" alt="logo">
              <h4 class="mb-1 text-white">Get it done</h4>
              <p>Do what you have to do until you can do what you want to do.</p>
            </div>
            <div class="item">
              <img src="{% static 'images/login/1.png'%}" class="img-fluid mb-4" alt="logo">
              <h4 class="mb-1 text-white">Get Rid of Stress</h4>
              <p>If you can't pay your bills, it has a tough effect on your mental state.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Sign in END -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{% include "foot.html" %}
</body>
</html>