{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Business Login Form Responsive Widget Template :: w3layouts</title>
 <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Business Login Form a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta-Tags -->
	
	<!-- css files -->
	<link href="{% static 'pay/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css" media="all">
	<link href="{% static 'pay/css/style.css'%}" rel="stylesheet" type="text/css" media="all"/>
	<!-- //css files -->
	
	<!-- google fonts -->
	<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<!-- //google fonts -->
	
</head>
<body>

<div class="signupform">
	<div class="container">
		<!-- main content -->
		<div class="agile_info">
			<div class="w3l_form">
				<div class="left_grid_info">
					<h1>Manage Your Business Account</h1>
					<p>Donec dictum nisl nec mi lacinia, sed maximus tellus eleifend. Proin molestie cursus sapien ac eleifend.</p>
					<img src="{% static 'pay/images/image.jpg'%}" alt="" />
				</div>
			</div>
			<div class="w3_info">
				{% for message in messages %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>Warning - </strong> {{ message }}
                                    </div>
                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>Success - </strong> {{ message }}
                                    </div>
                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>Error - </strong> {{ message }}
                                    </div>
                                {% endif %}
                            {% endfor %}
				<h2>Receiver's Detail</h2>
				{% if ext %}
				<br><label>Receiver's Email Address</label>
					<div class="input-group">
						<span class="fa fa-envelope" aria-hidden="true"></span>
						<input type="email" name="r_email" value="{{all_data.email}}" readonly> 
					</div>
					<label>Amount</label>
					<div class="input-group">
						<span class="fa fa-money" aria-hidden="true"></span>
						<input type="number" name="amount" step="any" value="{{amount}}" readonly>
					</div> 
					<label>Sender Name</label>
					<div class="input-group">
						<span class="fa fa-users" aria-hidden="true"></span>
						<input type="text" name="s_name" value="{{s_name}}" readonly>
					</div>
					<label>Currency</label>
					<div class="input-group">
						<span class="fa fa-exchange" aria-hidden="true"></span>
						<input type="text" name="cur" value="{{cur}}" readonly>
					</div>
					<form>
					 	<script src="https://api.ravepay.co/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>
						<button class="btn btn-danger btn-block" onClick="payWithRave()" type="button">Pay Now</button >
					</form>
				{% else %}
				<form action="pay" method="post">
					{% csrf_token %}
					<label>Receiver's Email Address</label>
					<div class="input-group">
						<span class="fa fa-envelope" aria-hidden="true"></span>
						<input type="email" name="r_email" placeholder="Receiver's Email Address" required=""> 
					</div>
					<label>Amount</label>
					<div class="input-group">
						<span class="fa fa-lock" aria-hidden="true"></span>
						<input type="number" name="amount" step="any" placeholder="Enter Amount" required="">
					</div> 
					<label>Sender Name</label>
					<div class="input-group">
						<span class="fa fa-lock" aria-hidden="true"></span>
						<input type="text" name="s_name" placeholder="Sender Name" required="">
					</div>
					<label>Currency</label>
					<div>
						<select class="form-group" name="cur">
							<option value="USD">USD</option>
							<option value="EUR">EUR</option>
							<option value="GBP">GBP</option>
						</select>
					</div><br>  
					<div class="login-check">
					</div>						
						<button class="btn btn-danger btn-block" type="submit">Confirm</button >                
				</form>
				{% endif %}
			</div>
		</div>
		<script>
    const API_publicKey = "FLWPUBK_TEST-2ac37119277a38d125792249d252c982-X";

    function payWithRave() {
		var txt_id = "{{txt_id}}";
		var email = "{{all_data.email}}";
		var amt = {{amount}};
		var redirectUrl = "pay_success?paymentReference=" + txt_id + "&email=" + email + "&amount=" + amt;
        var x = getpaidSetup({
            PBFPubKey: API_publicKey,
            customer_email: email,
            amount: amt,
            customer_phone: "234099940409",
            currency: "{{cur}}",
            country: "NG",
            txref: txt_id,
            meta: [{
                metaname: "flightID",
                metavalue: "AP1234"
            }],
            onclose: function() {},
            callback: function(response) {
                console.log(response);
				window.location=redirectUrl
                if (
                    response.data.chargeResponseCode == "00" ||
                    response.data.chargeResponseCode == "0"
                ) {
                    
                } else {
                    // redirect to a failure page.
                }

                x.close(); // use this to close the modal immediately after payment.
            }
        });
    }
</script>
		<!-- //main content -->
	</div>
	<!-- footer -->
	<div class="footer">
		<p>&copy; {% now "Y" %} <a href="/" target="blank">PayFlat</a> All Rights Reserved</p>
	</div>
	<!-- footer -->
</div>
	
</body>
</html>