{% load static %}
<!doctype html>
<html lang="en">
   {% include "head.html" %}
   <body>
      <!-- loader Start -->
      <div id="loading">
         <div id="loading-center">
         </div>
      </div>
      <!-- loader END -->
      <!-- Wrapper Start -->
      <div class="wrapper">
         <!-- Sidebar  -->
         {% include "sidebar.html" %}
         <!-- TOP Nav Bar -->
         {% include "headtop.html" %}
         <!-- TOP Nav Bar END -->
         <!-- Page Content  -->
         <div id="content-page" class="content-page">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-sm-12 col-lg-12">
                     <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                        </div>
                        <div class="iq-card-body">
                        {% if cus_name %}
                        <form method="POST" id="post-form">
                            {% csrf_token %}
                            <fieldset>
                                 <div class="form-card text-left">
                                     <div class="row">
                                         <div class="col-7">
                                             <h3 class="mb-4"> Buy Electricity</h3>
                                         </div>
                                     </div>
                                     <div class="row">
                                          <div class="col-md-6">
                                            <div class="form-group">
                                              <label>Customer Name | Customer District: *</label>
                                              <input type="text" class="form-control" value="{{cus_name}} | {{cus_dist}}" readonly />
                                             </div>
                                          </div>
                                          <div class="col-md-6">
                                            <div class="form-group">
                                              <label>Meter number: *</label>
                                              <input type="text" class="form-control" id="m_no" name="m_no" value="{{m_no}}" readonly />
                                             </div>
                                          </div>
                                              <input type="hidden" id="plan" name="plan" value="{{plan}}" />
                                              <input type="hidden" id="sub" name="sub" value="{{sub}}" />
                                          <div class="col-md-6">
                                            <div class="form-group">
                                              <label>Amount: *</label>
                                              <input type="number" class="form-control" id="amount" name="amount" placeholder="Enter Amount" required/>
                                             </div>
                                          </div>
                                    </div>
                                 </div>
                                 <button type="submit" class="btn btn-primary next action-button float-right" >Buy Data</button>
                          </fieldset>
                        </form>
                        {% else %}
                         <form class="text-center mt-4" method="POST" action="/user/power">
                           {% csrf_token %}
                             <!-- fieldsets -->
                             <fieldset>
                                 <div class="form-card text-left">
                                     <div class="row">
                                         <div class="col-7">
                                             <h3 class="mb-4"> Buy Electricity</h3>
                                         </div>
                                     </div>
                                     <div class="row">
                                          <div class="col-md-6">
                                           <div class="form-group">
                                              <label>Subscriber: *</label>
                                              <select class="form-control" id="sub" name="sub" required>
                                                <option>Select Subscriber</option>
                                                <option value="ikeja-electric">IKEDC – Ikeja Electric</option>
                                                <option value="eko-electric">EKEDC – Eko Electricity</option>
                                                <option value="kano-electric">KEDCO – Kano Electricity</option>
                                                <option value="portharcourt-electric">PHED – Port Harcourt Electric</option>
                                                <option value="jos-electric">JED – Jos Electricity</option>
                                                <option value="ibadan-electric">IBEDC – Ibadan Electricity</option>
                                              </select>
                                            </div>
                                          </div>
                                          <div class="col-md-6">
                                            <div class="form-group">
                                              <label>Meter number: *</label>
                                              <input type="text" class="form-control" id="m_no" name="m_no" placeholder="Enter Meter Number" required/>
                                             </div>
                                          </div>
                                          <div class="col-md-6">
                                           <div class="form-group">
                                              <label>Electricity Plan: *</label>
                                              <select class="form-control" id="plan" name="plan" required>
                                                <option>Select Plan</option>
                                                <option value="postpaid">Postpaid</option>
                                                <option value="prepaid">Prepaid</option>
                                              </select>
                                            </div>
                                          </div>
                                    </div>
                                 </div>
                                 <button type="submit" class="btn btn-primary next action-button float-right" >Confirm</button>
                          </fieldset>
                         </form>
                        {% endif %}
                           </div>
                        </div>
                     </div>

               </div>
            </div>
         </div>
      </div>
      <script src="{% static 'js/jquery-2.2.4.min.js'%}"></script>
      <script src="{% static 'js/sweetalert.min.js'%}"></script>
      <script type="text/javascript">
            $(document).on('submit', '#post-form',function(e){
                e.preventDefault();
                $.ajax({
                type:'POST',
                url:'/user/power_confirm',
                data:{
                    sub:$('#sub').val(),
                    plan:$('#plan').val(),
                    m_no:$('#m_no').val(),
                    amount:$('#amount').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                    },
                    success:function(){
                        swal({
                            title: "Thank You!",
                            text: "Transaction Successful!",
                            icon: "success",
                            type: "success"
                            }).then(function() {
                                window.location = "power";
                            });
                    },
                    error : function(data) {
                            document.getElementById("post-form").reset();
                            swal("Error!!", "Please Try again", "error");
                        }
                    });
                });
      </script>
      <!-- Wrapper END -->
      <!-- Footer -->
      {% include "footer.html" %}
      <!-- Footer END -->
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
     {% include "foot.html" %}
   </body>
</html>