{% load static %}
<!doctype html>
<html lang="en">
{% include "head.html" %}
<body>
  <!-- loader Start -->
  <div id="loading">
         <div id="loading-center">
         </div>
      </div>
 <!-- loader END -->
 <!-- Wrapper Start -->
 <div class="wrapper">
   <!-- Sidebar  -->
   {% include "sidebar.html" %}
   <!-- TOP Nav Bar -->
   {% include "headtop.html" %}
   <!-- TOP Nav Bar END -->
   <!-- Page Content  -->
   <div id="content-page" class="content-page">
    <div class="container-fluid">
     <div class="row">
      <div class="col-sm-12 col-lg-12">
       <div class="iq-card">
        <div class="iq-card-header d-flex justify-content-between">
        </div>
        {% if ex %}
        <center>
          <div class="col-lg-4 text-center">
           <div class="card iq-mb-3">
            <div class="card-body">
             <h4 class="card-title">Application Successful</h4>
             <p class="card-text">Your Application with <b>ID: {{all_data.app_id}} </b> to receive International fund was Successful. kindly scand and send your means of Identification 
             to <b>verify@payflat.com</b> to complete your application. <br> NOTE: The Means of ID Number must be the same with the filled ID Number.</p>
             {% if all_data.app_status == 0 %}
               <button type="button" class="btn btn-danger btn-block">Pending</button>
             {% else %}
               <button type="button" class="btn btn-success btn-block">Approved</button>
             {% endif %}
           </div>
         </div>
       </div>
     </center>
   </div>
   {% else %}
   <div class="iq-card-body">
     <form class="text-center mt-4" method="POST" id="post-form">
      {% csrf_token %}
      <!-- fieldsets -->
      <fieldset>
       <div class="form-card text-left">
         <div class="row">
           <div class="col-7">
             <h3 class="mb-4">International Money Receiving form</h3>
           </div>
         </div>
         <div class="row">
           <div class="col-md-6">
             <div class="form-group">
              <label>Address: *</label>
              <input type="text" class="form-control" name="address" id="address" placeholder="Enter Your Home Address" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Date of Birth: *</label>
              <input type="date" class="form-control" name="dob" id="dob" />
            </div>
          </div>
          <div class="col-md-6">
           <div class="form-group">
            <label>Mean of Identification: *</label>
            <select class="form-control" name="m_identity" id="m_identity">
             <option>Select Means of Identification</option>
             <option>National ID</option>
             <option>Driver's Licence</option>
             <option>Int'l Passport</option>
           </select>
         </div>
       </div>
       <div class="col-md-6">
         <div class="form-group">
          <label>ID Number: *</label>
          <input type="text" class="form-control" name="idno" id="idno" placeholder="Enter ID Number" />
        </div>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary next action-button float-right" >Apply</button>
</form>
</div>
</div>
{% endif %}
</div>

</div>
</div>
</div>
</div>
<script src="{% static 'js/jquery-2.2.4.min.js'%}"></script>
<script src="{% static 'js/sweetalert.min.js'%}"></script>
<script type="text/javascript">
  $(document).on('submit', '#post-form',function(e){
    e.preventDefault();
    $.ajax({
      type:'POST',
      url:'/user/receive_money_form',
      data:{
        idno:$('#idno').val(),
        m_identity:$('#m_identity').val(),
        dob:$('#dob').val(),
        address:$('#address').val(),
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
      },
      success:function(){
        swal({
          title: "Thank You!",
          text: "Application Successful!",
          icon: "success",
          type: "success"
        }).then(function() {
          window.location = "receive_money_form";
        });
      },
      error : function(data) {
        document.getElementById("post-form").reset();
        swal("Error!!", "Please Try again", "error");
      }
    });
  });
</script>
<!-- Wrapper END -->
<!-- Footer -->
{% include "footer.html" %}
<!-- Footer END -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{% include "foot.html" %}
</body>
</html>