{% load humanize %}
{% load static %}
<!doctype html>
<html lang="en">
{% include "head.html" %}
<body>
	<!-- loader Start -->
	<div id="loading">
         <div id="loading-center">
         </div>
      </div>
	<!-- loader END -->
	<!-- Wrapper Start -->
	<div class="wrapper">
		<!-- Sidebar  -->
		{% include "sidebar.html" %}
		<!-- TOP Nav Bar -->
		{% include "headtop.html" %}
		<!-- TOP Nav Bar END -->
		<!-- Page Content  -->
		<div id="content-page" class="content-page">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12 col-lg-12">
						<div class="iq-card">
							<div class="iq-card-header d-flex justify-content-between">
							</div>
							<div class="iq-card-body">
								<form class="text-center mt-4" method="POST" id="post-form">
									{% csrf_token %}
									<!-- fieldsets -->
									<fieldset>
										<div class="form-card text-left">
											<div class="row">
												<div class="col-7">
													<h3 class="mb-4">Send Money</h3>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label>Reciever's Email: *</label>
														<input type="email" class="form-control" id="r_email" name="r_email" placeholder="Email Id" required/>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label>Amount: *</label>
														<input type="number" class="form-control" id="amount" name="amount" placeholder="Enter Amount" required/>
													</div>
												</div>
											</div>
                                 <div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label>Select Your Account: *</label>
                                          <select class="form-control" name="s_acct" id="s_acct" required>
                                             <option value="NGN">NGN {{all_b.bal|intcomma}}</option>
                                             <option value="USD">USD {{all_b.usd|intcomma}}</option>
                                             <option value="EUR">EUR {{all_b.eur|intcomma}}</option>
                                             <option value="GBP">GBP {{all_b.gbp|intcomma}}</option>
                                          </select>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label>Reciever's Account: *</label>
														<select class="form-control" name="r_acct" id="r_acct" required>
                                             <option>Select Reciever's Account</option>
                                             <option value="NGN">NGN - Naira</option>
                                             <option value="USD">USD - US Dollar</option>
                                             <option value="EUR">EUR - Euro</option>
                                             <option value="GBP">GBP - British Pounds</option>
                                          </select>
													</div>
												</div>
											</div>
										</div>
										<button type="submit" class="btn btn-primary next action-button float-right" >Send Money</button>
									</form>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<script src="{% static 'js/jquery-2.2.4.min.js'%}"></script>
		<script src="{% static 'js/sweetalert.min.js'%}"></script>
		<script type="text/javascript">
			$(document).on('submit', '#post-form',function(e){
				e.preventDefault();
				$.ajax({
					type:'POST',
					url:'/user/send_money_auth',
					data:{
						r_email:$('#r_email').val(),
						amount:$('#amount').val(),
                  r_acct:$('#r_acct').val(),
                  s_acct:$('#s_acct').val(),
						csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
					},
					success:function(){
						document.getElementById("post-form").reset();
						swal("Transaction!", "Successful", "success");
					},
					error : function(data) {
						document.getElementById("post-form").reset();
						swal("Error!!", "Please Try again", "error");
					}
				});
			});
		</script>
		<!-- Wrapper END -->
		<!-- Footer -->
		{% include "footer.html" %}
		<!-- Footer END -->
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		{% include "foot.html" %}
	</body>
	</html>