{% load static %}
<div class="iq-sidebar">
            <div class="iq-sidebar-logo d-flex justify-content-between">
               <a href="/user/dashboard">
               <img src="{% static 'home/img/logo/logo.png'%}"  class="img-fluid" alt="">
               </a>
               <div class="iq-menu-bt-sidebar">
					<div class="iq-menu-bt align-self-center">
						<div class="wrapper-menu">
							<div class="main-circle"><i class="ri-arrow-left-s-line"></i></div>
							<div class="hover-circle"><i class="ri-arrow-right-s-line"></i></div>
						</div>
					</div>
				</div>
            </div>
            <div id="sidebar-scrollbar">
               <nav class="iq-sidebar-menu">
                  <ul class="iq-menu">
                     <li>
                        <a href="/user/dashboard" class="iq-waves-effect"><i class="ri-home-4-line"></i><span>Dashboard</span></a>
                     </li>
                     <li>
                        <a href="javascript:void(0);" class="iq-waves-effect"><i class="ri-tv-line"></i><span>Utility</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul class="iq-submenu">
                           <li><a href="/user/tv"><i class="ri-tv-2-line"></i>TV Subscription</a></li>
                           <li><a href="/user/airtime_order"><i class="ri-cellphone-line"></i>Airtime</a></li>
                           <li><a href="/user/mobile_data"><i class="ri-ie-fill"></i>Buy Data</a></li>
                           <li><a href="/user/power"><i class="ri-lightbulb-flash-line"></i>Electricity</a></li>
                        </ul>
                     </li>
                     <li><a href="/user/send_money_auth" class="iq-waves-effect"><i class="ri-exchange-box-fill"></i><span>Send Money</span></a></li>
                     <li><a href="/user/receive_money_form" class="iq-waves-effect"><i class="ri-visa-fill"></i><span>Receive Money</span></a></li>
                     <li><a href="/user/transactions" class="iq-waves-effect"><i class="ri-book-open-fill"></i><span>Transactions</span></a></li>
                     <li><a href="/user/withdraw" class="iq-waves-effect"><i class="ri-bank-fill"></i><span>Tranfer</span></a></li>
                     {% if user.acct_type == 2 %}
                     <li>
                        <a href="javascript:void(0);" class="iq-waves-effect"><i class="ri-briefcase-4-fill"></i><span>Business</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul class="iq-submenu">
                           <li><a href="#"><i class="ri-wallet-3-fill"></i>Pay Link <small class="badge badge-pill badge-primary float-right font-weight-normal ml-auto">Coming Soon</small></a></li>
                           <li><a href="#"><i class="ri-bill-fill"></i>Invoice<small class="badge badge-pill badge-primary float-right font-weight-normal ml-auto">Coming Soon</small></a></li>
                           <li><a href="#"><i class="ri-bill-fill"></i>All Invoice<small class="badge badge-pill badge-primary float-right font-weight-normal ml-auto">Coming Soon</small></a></li>
                        </ul>
                     </li>
                     {% else %}
                     {% endif %}
                     <li><a href="/user/setting" class="iq-waves-effect"><i class="ri-equalizer-fill"></i><span>Settings</span></a></li>
                  </ul>
               </nav>
               <div class="p-3"></div>
            </div>
         </div>