{% load static %}
<!doctype html>
<html lang="en">
   {% include "head.html" %}
   <body>
      <!-- loader Start -->
      <div id="loading">
         <div id="loading-center">
         </div>
      </div>
      <!-- loader END -->
        <!-- Sign in Start -->
        <section class="sign-in-">
            <div class="container mt-5 p-0 bg-white">
                <div class="row no-gutters">
                    <div class="col-sm-6 align-self-center">
                        <div class="sign-in-from">
                            <h1 class="mb-0">Register</h1>
                            {% for message in messages %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>Warning - </strong> {{ message }}
                                    </div>
                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>Success - </strong> {{ message }}
                                    </div>
                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                                         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>Error - </strong> {{ message }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <form class="mt-4" method="post" action="/user/signup">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Your First Name</label>
                                    <input type="text" name="first_name" class="form-control mb-0" id="exampleInputEmail1" placeholder="Your First Name">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Your Last Name</label>
                                    <input type="text" name="last_name" class="form-control mb-0" id="exampleInputEmail1" placeholder="Your Last Name">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Mobile Number</label>
                                    <input type="number" name="phone_no" class="form-control mb-0" id="exampleInputEmail1" placeholder="Your Mobile">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Account Type</label>
                                    <select class="form-control mb-0" name="acct_type">
                                        <option value="0">Select Account Type</option>
                                        <option value="1">Personal</option>
                                        <option value="2">Business</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Business Name (Fill if Business Account)</label>
                                    <input type="text" name="bus_name" class="form-control mb-0" id="exampleInputEmail1" placeholder="Business Name">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail2">Email address</label>
                                    <input type="email" name="email" class="form-control mb-0" id="exampleInputEmail2" placeholder="Enter email">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" name="password" class="form-control mb-0" id="exampleInputPassword1" placeholder="Password">
                                </div>
                                <div class="d-inline-block w-100">
                                    <div class="custom-control custom-checkbox d-inline-block mt-2 pt-1">
                                        <input type="checkbox" required class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">I accept <a href="#">Terms and Conditions</a><br>Already Have Account ? <a href="/user/signin">Log In</a></label>
                                    </div>
                                    <button type="submit" class="btn btn-primary float-right">Sign Up</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-6 text-center">
                        <div class="sign-in-detail text-white">
                            <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="false" data-dots="true" data-items="1" data-items-laptop="1" data-items-tab="1" data-items-mobile="1" data-items-mobile-sm="1" data-margin="0">
                                <div class="item">
                                    <img src="{% static 'images/login/1.png'%}" class="img-fluid mb-4" alt="logo">
                                    <h4 class="mb-1 text-white">Payment made easy</h4>
                                    <p>You won't get credit for everything you do. Be fine with paying your bills with relative ease, you did it because it needed to be done.</p>
                                </div>
                                <div class="item">
                                    <img src="{% static 'images/login/1.png'%}" class="img-fluid mb-4" alt="logo">
                                    <h4 class="mb-1 text-white">Get it done</h4>
                                    <p>Do what you have to do until you can do what you want to do.</p>
                                </div>
                                <div class="item">
                                    <img src="{% static 'images/login/1.png'%}" class="img-fluid mb-4" alt="logo">
                                    <h4 class="mb-1 text-white">Get Rid of Stress</h4>
                                    <p>If you can't pay your bills, it has a tough effect on your mental state.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Sign in END -->
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      {% include "foot.html" %}
   </body>
</html>