{% load static %}
{% load humanize %}
<!doctype html>
<html lang="en">
{% include "head.html" %}
<body>
	<!-- loader Start -->
	<div id="loading">
		<div id="loading-center">
		</div>
	</div>
	<!-- loader END -->
	<!-- Wrapper Start -->
	<div class="wrapper">
		<!-- Sidebar  -->
		{% include "sidebar.html" %}
		<!-- TOP Nav Bar -->
		{% include "headtop.html" %}
		<!-- TOP Nav Bar END -->
		<!-- Page Content  -->
		<div id="content-page" class="content-page">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12">
						<div class="iq-card">

							<div class="iq-card-body" id="printableArea">

								<div class="row">
									<div class="col-lg-6">
										<img src="{% static 'home/img/logo/logo.png'%}" height="200" width="200" class="img-fluid" alt="">
									</div>
									<div class="col-lg-6 align-self-center">
										<h4 class="mb-0 float-right">Transaction Reciept</h4>
									</div>
									<div class="col-sm-12">
										<hr class="mt-3">
										<h5 class="mb-0">Hello, {{user.last_name}}</h5>
                              <p></p>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<div class="table-responsive-sm">
											<table class="table">
												<thead>
													<tr>
														<th scope="col">Order Date</th>
														<th scope="col">Order Status</th>
														<th scope="col">Order ID</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>{{data.payment_date}}</td>
														<td><span class="badge badge-success">{{data.payment_status}}</span></td>
														<td>{{data.payment_ref}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<h5 class="mt-5">Transaction Details</h5>
										<div class="table-responsive-sm">
											<table class="table table-striped">
												<thead>
													<tr>
														<th scope="col">Method</th>
														<th scope="col">Description</th>
														<th scope="col">Transaction Ref</th>
														<th scope="col">Currency</th>
														<th scope="col">Amount</th>
														<th scope="col">Total</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<th scope="row">{{data.payment_method}}</th>
														<td>{{data.payment_desc}}</td>
														<td>{{data.trans_ref}}</td>
														<td>{{data.cur}}</td>
														<td>{{data.amount|intcomma}}</td>
														<td><b>{{data.amount|intcomma}} {{data.cur}}</b></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<div class="col-sm-6"></div>
									<div class="col-sm-6 text-right">
										<button type="button" onclick="printDiv('printableArea')" class="btn btn-primary">Print</button>
									</div>
									<div class="col-sm-12 mt-5">
										<b class="text-danger">Notes:</b>
										<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
   <script>
            function printDiv(divName) {
                var printContents = document.getElementById(divName).innerHTML;
                var originalContents = document.body.innerHTML;

                document.body.innerHTML = printContents;

                window.print();

                document.body.innerHTML = originalContents;
                }
        </script>       
	<!-- Wrapper END -->
	<!-- Footer -->
	{% include "footer.html" %}
	<!-- Footer END -->
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{% include "foot.html" %}
</body>
</html>