{% load humanize %}
<!doctype html>
<html lang="en">
  {% include "head.html" %}
   <body>
      <!-- loader Start -->
      <div id="loading">
         <div id="loading-center">
         </div>
      </div>
      <!-- loader END -->
      <!-- Wrapper Start -->
      <div class="wrapper">
      <!-- Sidebar  -->
      {% include "sidebar.html" %}
      <!-- TOP Nav Bar -->
     {% include "headtop.html" %}
      <!-- TOP Nav Bar END -->
      <!-- Page Content  -->
   <div id="content-page" class="content-page">
      <div class="container-fluid">
         <div class="row">
            <div class="col-sm-12">
                  <div class="iq-card">
                     <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                           <h4 class="card-title">User List</h4>
                        </div>
                     </div>
                     <div class="iq-card-body">
                        <div class="table-responsive">
                           <div class="row justify-content-between">
                              <div class="col-sm-12 col-md-6">
                                 <div id="user_list_datatable_info" class="dataTables_filter">
                                    <form class="mr-3 position-relative">
                                       <div class="form-group mb-0">
                                          <input type="search" class="form-control" id="exampleInputSearch" placeholder="Search" aria-controls="user-list-table">
                                       </div>
                                    </form>
                                 </div>
                              </div>
                              <div class="col-sm-12 col-md-6">
                                 <div class="user-list-files d-flex float-right">
                                    <a class="iq-bg-primary" href="javascript:void();" >
                                       Print
                                     </a>
                                    <a class="iq-bg-primary" href="javascript:void();">
                                       Excel
                                     </a>
                                     <a class="iq-bg-primary" href="javascript:void();">
                                       Pdf
                                     </a>
                                   </div>
                              </div>
                           </div>
                           <table id="user-list-table" class="table table-striped table-bordered mt-4" role="grid" aria-describedby="user-list-page-info">
                             <thead>
                                 <tr>
                                    <th>Date</th>
                                    <th>Desc</th>
                                    <th>Txn Ref</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                 </tr>
                             </thead>
                             <tbody>
                             {% for data in show %}
                                 <tr>
                                    <td>{{data.payment_date}}</td>
                                    <td>{{data.payment_desc}}</td>
                                    <td>{{data.trans_ref}}</td>
                                    <td>{{data.cur}} {{data.amount|intcomma}}</td>
                                    <td><span class="badge iq-bg-primary">{{data.payment_status}}</span></td>
                                    <td>
                                       <div class="flex align-items-center list-user-action">
                                          <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print Reciept" href="/user/trans_reciept/{{data.payment_ref}}"><i class="ri-printer-line"></i></a>
                                       </div>
                                    </td>
                                 </tr>
                              {% endfor %}
                             </tbody>
                           </table>
                        </div>
                           <div class="row justify-content-between mt-3">
                              <div id="user-list-page-info" class="col-md-6">
                                 
                              </div>
                              <div class="col-md-6">
                                 <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-end mb-0">
                                    {% if show.has_previous %}
                                       <li class="page-item">
                                          <a class="page-link" href="?page={{ show.previous_page_number }}" aria-disabled="true">Previous</a>
                                       </li>
                                       <li class="page-item">
                                          <a class="page-link" href="?page={{ show.previous_page_number }}">{{ show.previous_page_number }}</a>
                                       </li>
                                    {% endif %}
                                       <li class="page-item active"><a class="page-link" href="#">{{ show.number }}</a></li>
                                    {% if show.has_next %}
                                       <li class="page-item"><a class="page-link" href="?page={{ show.next_page_number }}">{{ show.next_page_number }}</a></li>
                                    {% endif %}
                                       <li class="page-item">
                                          <a class="page-link" href="?page={{ show.next_page_number }}">Next</a>
                                       </li>
                                    </ul>
                                 </nav>
                              </div>
                           </div>
                     </div>
                  </div>
            </div>
         </div>
      </div>
   </div>
   </div>
   <!-- Wrapper END -->
    <!-- Footer -->
      {% include "footer.html" %}
      <!-- Footer END -->
    <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      {% include "foot.html" %}
</body>
</html>