{% load humanize %}
{% load static %}
<!doctype html>
<html lang="en">
      {% include "head.html" %}
   <body>
      <!-- loader Start -->
      <div id="loading">
         <div id="loading-center">
         </div>
      </div>
      <!-- loader END -->
      <!-- Wrapper Start -->
      <div class="wrapper">
      <!-- Sidebar  -->
         {% include "sidebar.html" %}
      <!-- TOP Nav Bar -->
        {% include "headtop.html" %}
      <!-- TOP Nav Bar END -->
            <!-- Page Content  -->
            <div id="content-page" class="content-page">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="iq-card">

                     <div class="iq-card-body">

                        <div class="row">
                                        <div class="col-lg-6">
                                            <img src="images/logo.gif" class="img-fluid" alt="">
                                        </div>
                                        <div class="col-lg-6 align-self-center">
                                        
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="table-responsive-sm">
                                            </div>
                                            <h5 class="mt-5">Transactions Detail</h5>
                                            <div class="table-responsive-sm">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Bank</th>
                                                            <th scope="col">Acc.No</th>
                                                            <th scope="col">Account Name</th>
                                                            <th scope="col">Amount</th>
                                                            <th scope="col">Charges</th>
                                                            <th scope="col">Total</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">{{bank_name}}</th>
                                                            <td>{{acct_num}}</td>
                                                            <td>{{acct_name}}</td>
                                                            <td>₦ {{amount|intcomma}}</td>
                                                            <td>₦ 0.0</td>
                                                            <td><b>₦ {{amount|intcomma}}</b></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-sm-6"></div>
                                        <div class="col-sm-6 text-right">
                                        <form method="POST" id="post-form">
                                            {% csrf_token %}
                                            <input type="hidden" value="{{amount}}" name="amount" id="amount">
                                            <input type="hidden" value="{{acct_num}}" name="acct_num" id="acct_num">
                                            <input type="hidden" value="{{bnk_code}}" name="bnk_code" id="bnk_code">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                        </div>
                                        <div class="col-sm-12 mt-5">
                                            <b class="text-danger">Notes:</b>
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                                        </div>
                                    </div>

                     </div>
                  </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'js/jquery-2.2.4.min.js'%}"></script>
      <script src="{% static 'js/sweetalert.min.js'%}"></script>
      <script type="text/javascript">
            $(document).on('submit', '#post-form',function(e){
                e.preventDefault();
                $.ajax({
                type:'POST',
                url:'/user/withdraw_confirm',
                data:{
                    acct_num:$('#acct_num').val(),
                    amount:$('#amount').val(),
                    bnk_code:$('#bnk_code').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                    },
                    success:function(){
                        swal({
                            title: "Thank You!",
                            text: "Transaction Successful!",
                            icon: "success",
                            type: "success"
                            }).then(function() {
                                window.location = "dashboard";
                            });
                    },
                    error : function(data) {
                            document.getElementById("post-form").reset();
                            swal("Error!!", "Please Try again", "error");
                        }
                    });
                });
      </script>
        <!-- Wrapper END -->
      <!-- Footer -->
      {% include "footer.html" %}
      <!-- Footer END -->
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
     {% include "foot.html" %}
   </body>
</html>