<!doctype html>
<html lang="en">
      {% include "head.html" %}
   <body>
      <!-- loader Start -->
      <div id="loading">
         <div id="loading-center">
         </div>
      </div>
      <!-- loader END -->
      <!-- Wrapper Start -->
      <div class="wrapper">
         <!-- Sidebar  -->
         {% include "sidebar.html" %}
         <!-- TOP Nav Bar -->
         {% include "headtop.html" %}
         <!-- TOP Nav Bar END -->
         <!-- Page Content  -->
         <div id="content-page" class="content-page">
            <div class="container-fluid">
               <div class="row">
                     <div class="col-sm-12 col-lg-12">
                        <div class="iq-card">
                           <div class="iq-card-body">
                              <div class="row">
                                 <div class="col-md-9" style="align:center">
                                     <form id="form-wizard3" class="text-center" action="/user/withdraw" method="post">
                                     {% csrf_token %}
                                      <!-- fieldsets -->
                                      <fieldset>
                                          <div class="form-card text-left">
                                              <div class="row">
                                                  <div class="col-12">
                                                      <h3 class="mb-4">Bank Transfer</h3>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                       <label for="fname">Reciepient Account Number</label>
                                                       <input type="number" class="form-control" name="acct_no" placeholder="Enter Account Number" required="required" />
                                                     </div>
                                                   </div>
                                                   <div class="col-md-12">
                                                     <div class="form-group">
                                                       <label for="lname">Destination Bank</label>
                                                       <select class="form-control" name="bank" required>
                                                       <option value="">Select Banks</option>
                                                       {% for data in bank %}
                                                            <option value="{{data.code}}">{{data.name}}</option>
                                                       {% endfor %}
                                                       </select>
                                                      </div>
                                                   </div>
                                                    <div class="col-md-12">
                                                      
                                                   </div>
                                                   <div class="col-md-12">
                                                      <div class="form-group">
                                                       <label for="dob">Amount</label>
                                                       <input type="number" class="form-control" name="amount" step="any" placeholder="Enter Amount" />
                                                      </div>
                                                   </div>
                                             </div>
                                          </div>
                                          <button id="submit" type="submit" class="btn btn-primary next action-button float-right" >Next</button>
                                      </fieldset>
                                  </form>
                                 </div>
                              </div>
                        </div>
                        </div>
                     </div>
               </div>
            </div>
         </div>
      </div>
   
      <!-- Wrapper END -->
      <!-- Footer -->
      {% include "footer.html" %}
      <!-- Footer END -->
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      {% include "foot.html" %}
   </body>
</html>