<!DOCTYPE html>
<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
  <meta charset="utf8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="x-apple-disable-message-reformatting">
  <title>Nice to have you on board, {{last_name}}!</title>

  <!--[if mso]>
  <xml>
    <o:OfficeDocumentSettings>
      <o:PixelsPerInch>96</o:PixelsPerInch>
    </o:OfficeDocumentSettings>
  </xml>
  <style>
    table {border-collapse: collapse;}
    td,th,div,p,a,h1,h2,h3,h4,h5,h6 {font-family: "Segoe UI", Arial, sans-serif; mso-line-height-rule: exactly;}
  </style>
  <![endif]-->
  <style>
    .hover-bg-brand-600:hover {
      background-color: #0047c3 !important;
    }
    .hover-text-brand-700:hover {
      color: #003ca5 !important;
    }
    .hover-underline:hover {
      text-decoration: underline !important;
    }
    @media screen {
      img {
        max-width: 100%;
      }
      .all-font-sans {
        font-family: -apple-system, "Segoe UI", sans-serif !important;
      }
    }
    @media (max-width: 640px) {
      u~div .wrapper {
        min-width: 100vw;
      }
      .sm-block {
        display: block !important;
      }
      .sm-h-16 {
        height: 16px !important;
      }
      .sm-mt-16 {
        margin-top: 16px !important;
      }
      .sm-py-16 {
        padding-top: 16px !important;
        padding-bottom: 16px !important;
      }
      .sm-px-16 {
        padding-left: 16px !important;
        padding-right: 16px !important;
      }
      .sm-py-24 {
        padding-top: 24px !important;
        padding-bottom: 24px !important;
      }
      .sm-text-14 {
        font-size: 14px !important;
      }
      .sm-w-full {
        width: 100% !important;
      }
    }
  </style>
</head>
<body lang="en" style="margin: 0; padding: 0; width: 100%; word-break: break-word; -webkit-font-smoothing: antialiased; background-color: #ffffff;">
<div style="display: none; line-height: 0; font-size: 0;">Nice to have you on board, Candy!&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;
  &#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;
  &#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;</div>
<table class="wrapper all-font-sans" style="width: 100%;" cellpadding="0" cellspacing="0" role="presentation">
  <tr>
    <td align="center" style bgcolor="#ffffff">
      <table class="sm-w-full" style="width: 640px;" cellpadding="0" cellspacing="0" role="presentation">
        <tr>
          <td class="sm-px-16 sm-py-24" style="padding-left: 40px; padding-right: 40px; padding-top: 48px; padding-bottom: 48px; text-align: left;" bgcolor="#ffffff" align="left">
            <div style="margin-bottom: 24px;">
              <a href="../../index.html" style="color: #0047c3; text-decoration: none;">
                <img src="https://res.cloudinary.com/dxa66e5ic/image/upload/v1560246657/transactional-emails/logo.png" alt="craftingemails" width="143" style="line-height: 100%; vertical-align: middle; border: 0;">
              </a>
            </div>
            <p style="line-height: 28px; margin: 0; color: #4a5566; font-size: 21px;">Hi {{last_name}} 👋</p>
            <p style="line-height: 28px; margin: 0; color: #4a5566; font-size: 21px;">Thanks for signing up. We’re thrilled to have you on board!</p>
            <div class="sm-h-16" style="line-height: 16px;">&nbsp;</div>
            <table class="sm-w-full" cellpadding="0" cellspacing="0" role="presentation">
              <tr>
                <td align="center" class="hover-bg-brand-600" style="mso-padding-alt: 20px 32px; border-radius: 4px; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06); color: #ffffff;" bgcolor="#0052e2">
                  <a href="{{ protocol }}://{{ domain }}{% url 'signin' %}" class="sm-text-14 sm-py-16" style="display: inline-block; font-weight: 700; line-height: 16px; padding-top: 20px; padding-bottom: 20px; padding-left: 32px; padding-right: 32px; color: #ffffff; font-size: 16px; text-decoration: none;">Sign in to your account</a>
                </td>
              </tr>
            </table>
            <div class="sm-h-16" style="line-height: 16px;">&nbsp;</div>
            <p style="line-height: 22px; margin: 0; color: #8492a6; font-size: 16px;">
              <b>Payflat Account ({{acct_type}})</b><br>
              Account Name: {{acct_name}}<br>
              Account No: {{acct_no}}<br>
              Bank Name: {{bank_name}}<br>
              Bank Code: {{bank_code}}
            </p>
            <div style="text-align: left;">
              <table style="width: 100%;" cellpadding="0" cellspacing="0" role="presentation">
                <tr>
                  <td style="padding-bottom: 16px; padding-top: 64px;">
                    <div style="background-color: #e1e1ea; height: 1px; line-height: 1px;">&nbsp;</div>
                  </td>
                </tr>
              </table>
              <p style="line-height: 16px; margin-top: 0; margin-bottom: 16px; color: #8492a6; font-size: 12px;">
                This email was sent to you as a registered member of <a href="../../index.html" class="hover-text-brand-700 hover-underline" style="color: #0047c3; text-decoration: none; display: inline-block;">payflat.net</a>. 
                <span class="sm-block sm-mt-16">Use of the service and website is subject to our <a href="#" class="hover-text-brand-700 hover-underline" style="color: #0047c3; text-decoration: none; display: inline-block;">Terms of Use</a> and <a href="#" class="hover-text-brand-700 hover-underline" style="color: #0047c3; text-decoration: none; display: inline-block;">Privacy Statement</a>.</span>
              </p>
              <p style="line-height: 16px; margin: 0; color: #8492a6; font-size: 12px;">&copy; {% now "Y" %} Payflat.net. All rights reserved.</p>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>